In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

import pandas_profiling

C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\plot.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\ProgramData\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\ProgramData\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\ProgramData\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 112, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\Anaconda3\lib\asyncio\base_events.py", line 421, in run_forever
    self._run_once()
  File "C:\ProgramData\Anaconda3\lib\asyncio\base_events.py", line 1425, in _run_once
    handle._run()
  File "C:\ProgramData\Anaconda3\lib\asyncio\events.py", line 127, in _run
    self._callback(*self._args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 102, in _handle_events
    handler_func(fileobj, events)
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "C:\ProgramData\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\ProgramData\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2662, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2785, in _run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2903, in run_ast_nodes
    if self.run_code(code, result):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-3a3ccb887535>", line 4, in <module>
    import matplotlib.pyplot as plt
  File "C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 72, in <module>
    from matplotlib.backends import pylab_setup
  File "C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 14, in <module>
    line for line in traceback.format_stack()


  matplotlib.use(BACKEND)

In [3]:
data = pd.read_csv('data/Cleaned_StateData_1.csv')
len(data), len(data.keys())

(2040, 584)

In [5]:
data.head().T

                                  0         1         2         3           4
Unnamed: 0                        0         1         2         3           4
Year                           2016      2016      2016      2016        2016
ID                         10000000  20000000  30000000  40000000    50000000
State_Code                        1         2         3         4           5
State                       ALABAMA    ALASKA   ARIZONA  ARKANSAS  CALIFORNIA
FIPS_Code_State                   1         2         4         5           6
FYEndDate                       930       630       630       630         630
Population                  4858979    738432   6828065   2978204    39144818
Total_Revenue              30172490   8060170  38241052  21431620   322332307
Total_Rev_Own_Sources      20650521   5206968  23700590  14000079   227996024
General_Revenue            25288886   7628651  34582961  20346096   282907926
Gen_Rev_Own_Sources        15766917   4775449  20042499  12914555   188571643
Total_Taxes                 9919794   1042164  14676375   9452883   155231252
Property_Tax                 346277    111736    943008   1119958     2513157
Tot_Sales___Gr_Rec_Tax      5106102    260846   8680009   4590072    53365753
Total_Gen_Sales_Tax         2596223         0   6660817   3314363    39189007
Total_Select_Sales_Tax      2509879    260846   2019192   1275709    14176746
Alcoholic_Beverage_Tax       210535     42430     72281     55164      368699
Amusement_Tax                     6     10306      3830     56031           0
Insurance_Premium_Tax        317657     64400    545124    192020     2561932
Motor_Fuels_Tax              526763     48773    898234    479879     5000539
Pari_mutuels_Tax               1401         0       160      2616       14537
Public_Utility_Tax           695626      4027     22337         0      714623
Tobacco_Tax                  180301     67918    317331    230527      840034
Other_Select_Sales_Tax       577590     22992    159895    259472     4676382
Total_License_Taxes          507479    120529    482362    396891     8551427
Alcoholic_Beverage_Lic         4224      1919      7416      4624       57406
Amusement_License                 0         0         0       473       16767
Corporation_License          162117         0     18342     26703       75066
Hunting___Fishing_License     22931     29500     35059     26579      104698
...                             ...       ...       ...       ...         ...
LTD_Out_NG_Utility                0         0         0         0           0
LTD_Out_NG_Water_Util             0         0         0         0           0
LTD_Out_NG_Elec_Util              0         0         0         0           0
LTD_Out_NG_Gas_Util               0         0         0         0           0
LTD_Out_NG_Trans_Util             0         0         0         0           0
LTD_Out_NG_General                0         0         0         0           0
LTD_Out_NG_Elem_Educ              0         0         0         0           0
LTD_Out_NG_Other_Educ             0         0         0         0           0
LTD_Out_NG_Private_Purp           0         0         0         0           0
LTD_Out_NG_Other_NEC              0         0         0         0           0
Total_Cash___Securities    45075774  74150332  58741092  34073139   654910679
Insur_Trust_Cash___Sec     32162284   9205564  39946927  25464616   547501140
Emp_Retire_Cash___Sec      31633177   8756700  39624910  24860744   522312622
Emp_Retire_Cash___Dep       1406112    105626   1136491    825839    31478117
Emp_Retire_Total_Sec       30227065   8651074  38488419  24034905   490834505
Emp_Retire_Sec_Tot_Fed      1189305    906857    701897    367513    30843643
Emp_Retire_Sec_S_L_Secur          0         0         0         0           0
Emp_Retire_Sec_Tot_Nong    29037760   7744217  37786522  23667392   459990862
Emp_Retire_Sec_Corp_Bds     7117851    629821   9316394   1660264    82852358
Emp_Retire_Sec_Corp_Stk    17774133   4101343  20536351   7282274   256690472
Emp_Retire_Sec_Mortgages       1815         0         0      4142        5927
Emp_Retire_Sec_Misc_Inv           0   1145382   6111807  10936752    17058534
Emp_Retire_Sec_Oth_Nong     4143961   1867671   1821970   3783960   103383571
Unemp_Comp_Cash___Sec        529107    433220    322017    485792    -3088756
Unemp_Comp_Bal_In_US_Trs     529107    433220    322017    485792       11711
Unemp_Comp_Other_Balance          0         0         0         0    -3100467
Nonin_Trust_Cash___Sec     12913490  64944768  18794165   8608523   107409539
Sinking_Fd_Cash___Sec       1464402   3662764   5809405   1664378    29880672
Bond_Fd_Cash___Sec           176157    153822    429626    358939     5039254
Oth_Nonin_Fd_Cash___Sec    11272931  61128182  12555134   6585206    72489613

[584 rows x 5 columns]

### Remaining Columns

In [ ]:
data.head()

In [ ]:
len(data), len(set(data['ID']))

### Analysing ID

In [ ]:
df = data['ID']//data['State_Code']
set(df)

In [ ]:
set(data[df != 10000000]['State'])

In [ ]:
data[['ID', 'State_Code']][data['State']=='WASHINGTON DC CITY']

In [ ]:
set(data[data['State_Code']==9]['State'])

In [ ]:
list(data.keys())

In [ ]:
rem = data.isnull().sum()
rem = rem[rem != 0]
rem

In [ ]:
rem = rem.sort_values(ascending=False)
rem

In [ ]:
for key in rem.keys():
    print(key)
    print(data[data[key].isnull()]['Year'].drop_duplicates())

In [ ]:
data.isnull().sum().sort_values(ascending=False)

In [ ]:
data.isna().sum().sort_values(ascending=False)

In [ ]:
data.describe()

In [ ]:
data[rem.keys()].head()

In [ ]:
pandas_profiling.ProfileReport(data[rem.keys()])

In [ ]:
data['State_IGR_Gen_Sup'].plot()

In [ ]:
data[data['Beg_LTD_Out_Elec_Util']==0]

In [ ]:
data.isnull().sum().sort_values(ascending=False)

In [ ]:
zeros = {}
l = len(data)
for key in data.keys():
    zeros[key] = len(data[data[key]==0])/l
    if .8 > zeros[key] > .10:
        print(key, str(int(zeros[key]*100))+'%')

In [ ]:
df = data[(data != 0)]
df.head()

In [ ]:
df[df.isnull()].sum()

In [ ]:
data.head()

In [ ]:
len(data), len(df)`

In [ ]:
utils = [key for key in df.keys() if 'Util' in key]
utils