In [108]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

import pandas_profiling

Start from the last cleaned file

In [173]:
data = pd.read_csv('data/Cleaned_StateData_1.csv')
len(data), len(data.keys())

(2040, 583)

In [174]:
data.head().T

                                  0         1         2         3           4
Year                           2016      2016      2016      2016        2016
ID                         10000000  20000000  30000000  40000000    50000000
State_Code                        1         2         3         4           5
State                       ALABAMA    ALASKA   ARIZONA  ARKANSAS  CALIFORNIA
FIPS_Code_State                   1         2         4         5           6
FYEndDate                       930       630       630       630         630
Population                  4858979    738432   6828065   2978204    39144818
Total_Revenue              30172490   8060170  38241052  21431620   322332307
Total_Rev_Own_Sources      20650521   5206968  23700590  14000079   227996024
General_Revenue            25288886   7628651  34582961  20346096   282907926
Gen_Rev_Own_Sources        15766917   4775449  20042499  12914555   188571643
Total_Taxes                 9919794   1042164  14676375   9452883   155231252
Property_Tax                 346277    111736    943008   1119958     2513157
Tot_Sales___Gr_Rec_Tax      5106102    260846   8680009   4590072    53365753
Total_Gen_Sales_Tax         2596223         0   6660817   3314363    39189007
Total_Select_Sales_Tax      2509879    260846   2019192   1275709    14176746
Alcoholic_Beverage_Tax       210535     42430     72281     55164      368699
Amusement_Tax                     6     10306      3830     56031           0
Insurance_Premium_Tax        317657     64400    545124    192020     2561932
Motor_Fuels_Tax              526763     48773    898234    479879     5000539
Pari_mutuels_Tax               1401         0       160      2616       14537
Public_Utility_Tax           695626      4027     22337         0      714623
Tobacco_Tax                  180301     67918    317331    230527      840034
Other_Select_Sales_Tax       577590     22992    159895    259472     4676382
Total_License_Taxes          507479    120529    482362    396891     8551427
Alcoholic_Beverage_Lic         4224      1919      7416      4624       57406
Amusement_License                 0         0         0       473       16767
Corporation_License          162117         0     18342     26703       75066
Hunting___Fishing_License     22931     29500     35059     26579      104698
Motor_Vehicle_License        213550     38000    228970    163023     3996089
...                             ...       ...       ...       ...         ...
LTD_Out_NG_Utility                0         0         0         0           0
LTD_Out_NG_Water_Util             0         0         0         0           0
LTD_Out_NG_Elec_Util              0         0         0         0           0
LTD_Out_NG_Gas_Util               0         0         0         0           0
LTD_Out_NG_Trans_Util             0         0         0         0           0
LTD_Out_NG_General                0         0         0         0           0
LTD_Out_NG_Elem_Educ              0         0         0         0           0
LTD_Out_NG_Other_Educ             0         0         0         0           0
LTD_Out_NG_Private_Purp           0         0         0         0           0
LTD_Out_NG_Other_NEC              0         0         0         0           0
Total_Cash___Securities    45075774  74150332  58741092  34073139   654910679
Insur_Trust_Cash___Sec     32162284   9205564  39946927  25464616   547501140
Emp_Retire_Cash___Sec      31633177   8756700  39624910  24860744   522312622
Emp_Retire_Cash___Dep       1406112    105626   1136491    825839    31478117
Emp_Retire_Total_Sec       30227065   8651074  38488419  24034905   490834505
Emp_Retire_Sec_Tot_Fed      1189305    906857    701897    367513    30843643
Emp_Retire_Sec_S_L_Secur          0         0         0         0           0
Emp_Retire_Sec_Tot_Nong    29037760   7744217  37786522  23667392   459990862
Emp_Retire_Sec_Corp_Bds     7117851    629821   9316394   1660264    82852358
Emp_Retire_Sec_Corp_Stk    17774133   4101343  20536351   7282274   256690472
Emp_Retire_Sec_Mortgages       1815         0         0      4142        5927
Emp_Retire_Sec_Misc_Inv           0   1145382   6111807  10936752    17058534
Emp_Retire_Sec_Oth_Nong     4143961   1867671   1821970   3783960   103383571
Unemp_Comp_Cash___Sec        529107    433220    322017    485792    -3088756
Unemp_Comp_Bal_In_US_Trs     529107    433220    322017    485792       11711
Unemp_Comp_Other_Balance          0         0         0         0    -3100467
Nonin_Trust_Cash___Sec     12913490  64944768  18794165   8608523   107409539
Sinking_Fd_Cash___Sec       1464402   3662764   5809405   1664378    29880672
Bond_Fd_Cash___Sec           176157    153822    429626    358939     5039254
Oth_Nonin_Fd_Cash___Sec    11272931  61128182  12555134   6585206    72489613

[583 rows x 5 columns]

In [175]:
data = data.fillna(0)

In [176]:
print(len(data.keys()))
data.count().sort_index().keys().tolist()

583

['Air_Trans_Cap_Outlay',
 'Air_Trans_Construction',
 'Air_Trans_Current_Exp',
 'Air_Trans_Direct_Expend',
 'Air_Trans_IG_Local_Govts',
 'Air_Trans_IG_To_State',
 'Air_Trans_Total_Expend',
 'Alcoholic_Beverage_Lic',
 'Alcoholic_Beverage_Tax',
 'Amusement_License',
 'Amusement_Tax',
 'Beg_LTD_Out_All_Other',
 'Beg_LTD_Out_Education',
 'Beg_LTD_Out_Elec_Util',
 'Beg_LTD_Out_Gas_Util',
 'Beg_LTD_Out_General',
 'Beg_LTD_Out_Other_NEC',
 'Beg_LTD_Out_Priv_Purp',
 'Beg_LTD_Out_Private_Purp',
 'Beg_LTD_Out_Trans_Util',
 'Beg_LTD_Out_Utility',
 'Beg_LTD_Out_Water_Util',
 'Bond_Fd_Cash___Sec',
 'Cen_Staff_Cap_Outlay',
 'Cen_Staff_Construction',
 'Cen_Staff_Current_Exp',
 'Cen_Staff_Direct_Exp',
 'Cen_Staff_IG_Local_Govts',
 'Cen_Staff_IG_To_State',
 'Cen_Staff_Total_Expend',
 'Chg_Air_Transportation',
 'Chg_All_Other_NEC',
 'Chg_Elem_Ed_NEC',
 'Chg_Elem_Ed_Sch_Lunch',
 'Chg_Elem_Ed_Tuition',
 'Chg_Highways',
 'Chg_Hospitals',
 'Chg_Housing___Comm_Dev',
 'Chg_Misc_Com_Activ',
 'Chg_Parking',
 'Chg_Parks___Recreation',
 'Chg_Regular_Highways',
 'Chg_Sewerage',
 'Chg_Solid_Waste_Mgmt',
 'Chg_Toll_Highways',
 'Chg_Total_Education',
 'Chg_Total_Elem_Education',
 'Chg_Total_High_Ed',
 'Chg_Total_Nat_Res',
 'Chg_Water_Transport',
 'Corp_Net_Income_Tax',
 'Corporation_License',
 'Correct_Cap_Outlay',
 'Correct_Construct',
 'Correct_Current_Exp',
 'Correct_Direct_Exp',
 'Correct_IG_Loc_Govts',
 'Correct_IG_To_St',
 'Correct_Total_Exp',
 'Death_and_Gift_Tax',
 'Direct_Expenditure',
 'Direct_General_Expend',
 'Docum_and_Stock_Tr_Tax',
 'Educ_NEC_Assistance',
 'Educ_NEC_Cap_Outlay',
 'Educ_NEC_Construction',
 'Educ_NEC_Current_Exp',
 'Educ_NEC_Direct_Expend',
 'Educ_NEC_IG_Local_Govts',
 'Educ_NEC_IG_To_State',
 'Educ_NEC_Total_Expend',
 'Elec_Util_Cap_Outlay',
 'Elec_Util_Construct',
 'Elec_Util_Current_Exp',
 'Elec_Util_Inter_Exp',
 'Elec_Util_Total_Exp',
 'Electric_Utility_Rev',
 'Elem_Educ_Cap_Outlay',
 'Elem_Educ_Construction',
 'Elem_Educ_Current_Exp',
 'Elem_Educ_Direct_Exp',
 'Elem_Educ_IG_Local_Govts',
 'Elem_Educ_IG_Sch_to_Sch',
 'Elem_Educ_IG_To_State',
 'Elem_Educ_Total_Exp',
 'Emp_Ret_Benefit_Paymts',
 'Emp_Ret_From_Other_Gov',
 'Emp_Ret_Int_Rev',
 'Emp_Ret_Loc_Emp_Ctrib',
 'Emp_Ret_Loc_To_Loc_Sys',
 'Emp_Ret_Other_Earnings',
 'Emp_Ret_Other_Paymts',
 'Emp_Ret_Sta_To_Sta_Ctr',
 'Emp_Ret_Total_Ctrib',
 'Emp_Ret_Total_Expend',
 'Emp_Ret_Withdrawals',
 'Emp_Retire_Cash___Dep',
 'Emp_Retire_Cash___Sec',
 'Emp_Retire_Sec_Corp_Bds',
 'Emp_Retire_Sec_Corp_Stk',
 'Emp_Retire_Sec_Misc_Inv',
 'Emp_Retire_Sec_Mortgages',
 'Emp_Retire_Sec_Oth_Nong',
 'Emp_Retire_Sec_S_L_Secur',
 'Emp_Retire_Sec_Tot_Fed',
 'Emp_Retire_Sec_Tot_Nong',
 'Emp_Retire_Total_Sec',
 'Emp_Sec_Adm_Cap_Outlay',
 'Emp_Sec_Adm_Construct',
 'Emp_Sec_Adm_Current_Exp',
 'Emp_Sec_Adm_Direct_Exp',
 'FIPS_Code_State',
 'FYEndDate',
 'Fed_IGR_Air_Transport',
 'Fed_IGR_Education',
 'Fed_IGR_Emp_Sec_Adm',
 'Fed_IGR_Gen_Rev_Shar',
 'Fed_IGR_Gen_Support',
 'Fed_IGR_Health___Hos',
 'Fed_IGR_Highways',
 'Fed_IGR_Hous_Com_Dev',
 'Fed_IGR_Natural_Res',
 'Fed_IGR_Other',
 'Fed_IGR_Public_Welf',
 'Fed_IGR_Sewerage',
 'Fed_IGR_Transit_Sub',
 'Fin_Admin_Cap_Outlay',
 'Fin_Admin_Construction',
 'Fin_Admin_Current_Exp',
 'Fin_Admin_Direct_Exp',
 'Fin_Admin_IG_Local_Govts',
 'Fin_Admin_IG_To_State',
 'Fin_Admin_Total_Exp',
 'Fines_and_Forfeits',
 'Fire_Prot_Cap_Outlay',
 'Fire_Prot_Construction',
 'Fire_Prot_Current_Exp',
 'Fire_Prot_Direct_Exp',
 'Fire_Prot_IG_Local_Govts',
 'Fire_Prot_IG_To_State',
 'Fire_Prot_Total_Expend',
 'Gas_Util_Cap_Outlay',
 'Gas_Util_Construct',
 'Gas_Util_Current_Exp',
 'Gas_Util_Inter_Exp',
 'Gas_Util_Total_Exp',
 'Gas_Utility_Rev',
 'Gen_Pub_Bldg_Cap_Out',
 'Gen_Pub_Bldg_Construct',
 'Gen_Pub_Bldg_Current_Exp',
 'Gen_Pub_Bldg_Total_Exp',
 'Gen_Rev_Own_Sources',
 'General_Assist___Sub',
 'General_Capital_Outlay',
 'General_Capital_Outlay_Other',
 'General_Construction',
 'General_Current_Expend',
 'General_Current_Oper',
 'General_Debt_Interest',
 'General_Expenditure',
 'General_NEC_Cap_Outlay',
 'General_NEC_Construct',
 'General_NEC_Current_Exp',
 'General_NEC_Direct_Exp',
 'General_NEC_IG_Loc_Govts',
 'General_NEC_IG_To_Fed',
 'General_NEC_IG_To_St',
 'General_NEC_Total_Exp',
 'General_Revenue',
 'Health_Capital_Outlay',
 'Health_Construction',
 'Health_Current_Exp',
 'Health_Direct_Expend',
 'Health_IG_Local_Govts',
 'Health_IG_To_State',
 'Health_Total_Expend',
 'Higher_Ed_Cap_Outlay',
 'Higher_Ed_Construct',
 'Higher_Ed_Current_Exp',
 'Higher_Ed_Direct_Exp',
 'Higher_Ed_IG_Loc_Govts',
 'Higher_Ed_IG_To_St',
 'Higher_Ed_Total_Exp',
 'Hosp_Other_Cap_Outlay',
 'Hosp_Other_Construct',
 'Hosp_Other_Current_Exp',
 'Hosp_Other_Direct_Exp',
 'Hosp_Other_IG_Loc_Govts',
 'Hosp_Other_IG_To_State',
 'Hosp_Other_Total_Exp',
 'Hous___Com_Cap_Outlay',
 'Hous___Com_Construct',
 'Hous___Com_Current_Exp',
 'Hous___Com_Direct_Exp',
 'Hous___Com_IG_Loc_Govts',
 'Hous___Com_IG_To_State',
 'Hous___Com_Total_Exp',
 'Hunting___Fishing_License',
 'ID',
 'IG_Exp_To_Federal_Govt',
 'IG_Exp_To_Local_Govts',
 'IG_Exp_To_State_Govt',
 'Individual_Income_Tax',
 'Insur_Trust_Cash___Sec',
 'Insurance_Premium_Tax',
 'Interest_Revenue',
 'Interest_on_Gen_Debt',
 'Judicial_Cap_Outlay',
 'Judicial_Construction',
 'Judicial_Current_Exp',
 'Judicial_Direct_Expend',
 'Judicial_IG_Local_Govts',
 'Judicial_IG_To_State',
 'Judicial_Total_Expend',
 'LTD_Iss_All_Other',
 'LTD_Iss_FFC_Elec_Util',
 'LTD_Iss_FFC_Elem_Educ',
 'LTD_Iss_FFC_Gas_Util',
 'LTD_Iss_FFC_General',
 'LTD_Iss_FFC_Other_Educ',
 'LTD_Iss_FFC_Other_NEC',
 'LTD_Iss_FFC_Trans_Util',
 'LTD_Iss_FFC_Utility',
 'LTD_Iss_FFC_Water_Util',
 'LTD_Iss_Gen_Elem_Educ',
 'LTD_Iss_Gen_Other_Educ',
 'LTD_Iss_Gen_Other_NEC',
 'LTD_Iss_General',
 'LTD_Iss_NG_Elec_Util',
 'LTD_Iss_NG_Elem_Educ',
 'LTD_Iss_NG_Gas_Util',
 'LTD_Iss_NG_General',
 'LTD_Iss_NG_Other_Educ',
 'LTD_Iss_NG_Other_NEC',
 'LTD_Iss_NG_Private_Purp',
 'LTD_Iss_NG_Trans_Util',
 'LTD_Iss_NG_Utility',
 'LTD_Iss_NG_Water_Util',
 'LTD_Iss_Private_Purp',
 'LTD_Iss_Unsp_Elec_Util',
 'LTD_Iss_Unsp_Elem_Educ',
 'LTD_Iss_Unsp_Gas_Util',
 'LTD_Iss_Unsp_General',
 'LTD_Iss_Unsp_Other_Educ',
 'LTD_Iss_Unsp_Other_NEC',
 'LTD_Iss_Unsp_Trans_Util',
 'LTD_Iss_Unsp_Utility',
 'LTD_Iss_Unsp_Water_Util',
 'LTD_Iss_Util_Electric',
 'LTD_Iss_Util_Gas_Supply',
 'LTD_Iss_Util_Transit',
 'LTD_Iss_Util_Water',
 'LTD_Iss_Utility',
 'LTD_Out_All_Other',
 'LTD_Out_FFC_Elec_Util',
 'LTD_Out_FFC_Elem_Educ',
 'LTD_Out_FFC_Gas_Util',
 'LTD_Out_FFC_General',
 'LTD_Out_FFC_Other_Educ',
 'LTD_Out_FFC_Other_NEC',
 'LTD_Out_FFC_Trans_Util',
 'LTD_Out_FFC_Utility',
 'LTD_Out_FFC_Water_Util',
 'LTD_Out_Gen_Elem_Educ',
 'LTD_Out_Gen_Other_Educ',
 'LTD_Out_Gen_Other_NEC',
 'LTD_Out_General',
 'LTD_Out_NG_Elec_Util',
 'LTD_Out_NG_Elem_Educ',
 'LTD_Out_NG_Gas_Util',
 'LTD_Out_NG_General',
 'LTD_Out_NG_Other_Educ',
 'LTD_Out_NG_Other_NEC',
 'LTD_Out_NG_Private_Purp',
 'LTD_Out_NG_Trans_Util',
 'LTD_Out_NG_Utility',
 'LTD_Out_NG_Water_Util',
 'LTD_Out_Private_Purp',
 'LTD_Out_Util_Electric',
 'LTD_Out_Util_Gas_Supply',
 'LTD_Out_Util_Transit',
 'LTD_Out_Util_Water',
 'LTD_Ret_All_Other',
 'LTD_Ret_FFC_Elec_Util',
 'LTD_Ret_FFC_Elem_Educ',
 'LTD_Ret_FFC_Gas_Util',
 'LTD_Ret_FFC_General',
 'LTD_Ret_FFC_Other_Educ',
 'LTD_Ret_FFC_Other_NEC',
 'LTD_Ret_FFC_Trans_Util',
 'LTD_Ret_FFC_Utility',
 'LTD_Ret_FFC_Water_Util',
 'LTD_Ret_Gen_Elem_Educ',
 'LTD_Ret_Gen_Other_Educ',
 'LTD_Ret_Gen_Other_NEC',
 'LTD_Ret_General',
 'LTD_Ret_NG_Elec_Util',
 'LTD_Ret_NG_Elem_Educ',
 'LTD_Ret_NG_Gas_Util',
 'LTD_Ret_NG_General',
 'LTD_Ret_NG_Other_Educ',
 'LTD_Ret_NG_Other_NEC',
 'LTD_Ret_NG_Private_Purp',
 'LTD_Ret_NG_Trans_Util',
 'LTD_Ret_NG_Utility',
 'LTD_Ret_NG_Water_Util',
 'LTD_Ret_Private_Purp',
 'LTD_Ret_Unsp_Elec_Utili',
 'LTD_Ret_Unsp_Elem_Educ',
 'LTD_Ret_Unsp_Gas_Util',
 'LTD_Ret_Unsp_General',
 'LTD_Ret_Unsp_Other_Educ',
 'LTD_Ret_Unsp_Other_NEC',
 'LTD_Ret_Unsp_Trans_Util',
 'LTD_Ret_Unsp_Utility',
 'LTD_Ret_Unsp_Water_Util',
 'LTD_Ret_Util_Electric',
 'LTD_Ret_Util_Gas_Supply',
 'LTD_Ret_Util_Transit',
 'LTD_Ret_Util_Water',
 'LTD_Ret_Utility',
 'Libraries_Cap_Outlay',
 'Libraries_Construction',
 'Libraries_Current_Exp',
 'Libraries_Direct_Exp',
 'Libraries_IG_Local_Govts',
 'Libraries_IG_To_State',
 'Libraries_Total_Expend',
 'Liquor_Stores_Cap_Out',
 'Liquor_Stores_Constr',
 'Liquor_Stores_Current_Exp',
 'Liquor_Stores_Revenue',
 'Liquor_Stores_Tot_Exp',
 'Local_IGR_Health___Hos',
 'Local_IGR_Highways',
 'Local_IGR_Hous_Com_Dev',
 'Local_IGR_InterSchool_Aid',
 'Local_IGR_Oth_Gen_Sup',
 'Local_IGR_Other',
 'Local_IGR_Other_Education',
 'Local_IGR_Public_Welf',
 'Local_IGR_Sewerage',
 'Local_IGR_Transit_Sub',
 'Misc_Com_Activ_Cap_Out',
 'Misc_Com_Activ_Constr',
 'Misc_Com_Activ_Current_Exp',
 'Misc_Com_Activ_Tot_Exp',
 'Misc_General_Rev_NEC',
 'Misc_General_Revenue',
 'Motor_Fuels_Tax',
 'Motor_Veh_Oper_License',
 'Motor_Vehicle_License',
 'Motor_Vehicle_License_Total',
 'Natural_Res_Cap_Outlay',
 'Natural_Res_Construct',
 'Natural_Res_Current_Exp',
 'Natural_Res_Direct_Exp',
 'Natural_Res_IG_Loc_Govts',
 'Natural_Res_IG_To_Sta',
 'Natural_Res_Total_Exp',
 'Net_Lottery_Revenue',
 'Nonin_Trust_Cash___Sec',
 'Occup_and_Bus_Lic_NEC',
 'Oth_Nonin_Fd_Cash___Sec',
 'Other_License_Taxes',
 'Other_Select_Sales_Tax',
 'Own_Hospital_Cap_Out',
 'Own_Hospital_Construct',
 'Own_Hospital_Current_Exp',
 'Own_Hospital_Total_Exp',
 'Pari_mutuels_Tax',
 'Parking_Capital_Outlay',
 'Parking_Construction',
 'Parking_Current_Exp',
 'Parking_Direct_Expend',
 'Parking_IG_Local_Govts',
 'Parking_IG_To_State',
 'Parking_Total_Expend',
 'Parks___Rec_Cap_Outlay',
 'Parks___Rec_Construct',
 'Parks___Rec_Current_Exp',
 'Parks___Rec_Direct_Exp',
 'Parks___Rec_IG_Loc_Govts',
 'Parks___Rec_IG_To_Sta',
 'Parks___Rec_Total_Exp',
 'Police_Prot_Cap_Outlay',
 'Police_Prot_Construct',
 'Police_Prot_Current_Exp',
 'Police_Prot_Direct_Exp',
 'Police_Prot_IG_Loc_Govts',
 'Police_Prot_IG_To_Sta',
 'Police_Prot_Total_Exp',
 'Population',
 'Prop_Sale_Hous_Com_Dev',
 'Prop_Sale_Other',
 'Prop_Sale_Total',
 'Property_Tax',
 'Prot_Insp_Cap_Outlay',
 'Prot_Insp_Construction',
 'Prot_Insp_Current_Exp',
 'Prot_Insp_Direct_Exp',
 'Prot_Insp_IG_Local_Govts',
 'Prot_Insp_IG_To_State',
 'Prot_Insp_Total_Exp',
 'Public_Utility_License',
 'Public_Utility_Tax',
 'Public_Welf_Cap_Outlay',
 'Public_Welf_Cash_Asst',
 'Public_Welf_Construct',
 'Public_Welf_Current_Exp',
 'Public_Welf_Direct_Exp',
 'Public_Welf_Total_Exp',
 'Regular_Hwy_Cap_Outlay',
 'Regular_Hwy_Construct',
 'Regular_Hwy_Current_Exp',
 'Regular_Hwy_Direct_Exp',
 'Regular_Hwy_IG_Loc_Govts',
 'Regular_Hwy_IG_To_Sta',
 'Regular_Hwy_Total_Exp',
 'Rents_and_Royalties',
 'ST_Debt_End_of_Year',
 'SW_Mgmt_Capital_Outlay',
 'SW_Mgmt_Construction',
 'SW_Mgmt_Current_Exp',
 'SW_Mgmt_Direct_Expend',
 'SW_Mgmt_IG_Local_Govts',
 'SW_Mgmt_IG_To_State',
 'SW_Mgmt_Total_Expend',
 'Severance_Tax',
 'Sewerage_Cap_Outlay',
 'Sewerage_Construction',
 'Sewerage_Current_Exp',
 'Sewerage_Direct_Expend',
 'Sewerage_IG_Local_Govts',
 'Sewerage_IG_To_State',
 'Sewerage_Total_Expend',
 'Sinking_Fd_Cash___Sec',
 'Special_Assessments',
 'State',
 'State_Code',
 'State_IGR_Education',
 'State_IGR_Gen_Sup',
 'State_IGR_Health___Hos',
 'State_IGR_Highways',
 'State_IGR_Hous_Com_Dev',
 'State_IGR_Oth_Gen_Sup',
 'State_IGR_Other',
 'State_IGR_Public_Welf',
 'State_IGR_Sewerage',
 'State_IGR_Tax_Relief',
 'State_IGR_Transit_Sub',
 'Taxes_NEC',
 'Tobacco_Tax',
 'Toll_Hwy_Cap_Outlay',
 'Toll_Hwy_Construction',
 'Toll_Hwy_Current_Exp',
 'Toll_Hwy_Total_Expend',
 'Tot_Assist___Subsidies',
 'Tot_Chgs_and_Misc_Rev',
 'Tot_Ins_Trust_Inv_Rev',
 'Tot_LTD_Out_NG',
 'Tot_Local_IG_Rev',
 'Tot_Sales___Gr_Rec_Tax',
 'Total_Beg_LTD_Out',
 'Total_Capital_Outlays',
 'Total_Cash___Securities',
 'Total_Construction',
 'Total_Current_Expend',
 'Total_Current_Oper',
 'Total_Debt_Outstanding',
 'Total_Educ_Assist___Sub',
 'Total_Educ_Cap_Outlay',
 'Total_Educ_Construct',
 'Total_Educ_Current_Exp',
 'Total_Educ_Direct_Exp',
 'Total_Educ_Total_Exp',
 'Total_Emp_Ret_Rev',
 'Total_Expenditure',
 'Total_Fed_IG_Revenue',
 'Total_Gen_Sales_Tax',
 'Total_General_Charges',
 'Total_Highways_Cap_Out',
 'Total_Highways_Construct',
 'Total_Highways_Current_Exp',
 'Total_Highways_Dir_Exp',
 'Total_Highways_Tot_Exp',
 'Total_Hospital_Cap_Out',
 'Total_Hospital_Construct',
 'Total_Hospital_Current_Exp',
 'Total_Hospital_Dir_Exp',
 'Total_Hospital_IG_Loc_Govts',
 'Total_Hospital_IG_To_State',
 'Total_Hospital_Total_Exp',
 'Total_IG_Expenditure',
 'Total_IG_Revenue',
 'Total_Income_Taxes',
 'Total_Insur_Trust_Ben',
 'Total_Insur_Trust_Ctrb',
 'Total_Insur_Trust_Rev',
 'Total_Interest_on_Debt',
 'Total_LTD_Iss_FFC',
 'Total_LTD_Iss_NG',
 'Total_LTD_Iss_Unsp',
 'Total_LTD_Issued',
 'Total_LTD_Out',
 'Total_LTD_Out_FFC',
 'Total_LTD_Out_Utility',
 'Total_LTD_Ret_FFC',
 'Total_LTD_Ret_NG',
 'Total_LTD_Ret_Unsp',
 'Total_LTD_Retired',
 'Total_License_Taxes',
 'Total_Long_Term_Debt_Out',
 'Total_Other_Capital_Outlays',
 'Total_Rev_Own_Sources',
 'Total_Revenue',
 'Total_Salaries___Wages',
 'Total_Select_Sales_Tax',
 'Total_State_IG_Revenue',
 'Total_Taxes',
 'Total_Unemp_Rev',
 'Total_Util_Cap_Outlay',
 'Total_Util_Construct',
 'Total_Util_Current_Exp',
 'Total_Util_Inter_Exp',
 'Total_Util_Total_Exp',
 'Total_Utility_Revenue',
 'Trans_Util_Cap_Outlay',
 'Trans_Util_Construct',
 'Trans_Util_Current_Exp',
 'Trans_Util_Inter_Exp',
 'Trans_Util_Total_Exp',
 'Transit_Sub_Direct_Sub',
 'Transit_Sub_IG_Loc_Govts',
 'Transit_Sub_IG_To_Sta',
 'Transit_Sub_To_Own_Sys',
 'Transit_Sub_Total_Exp',
 'Transit_Utility_Rev',
 'Unemp_Comp_Bal_In_US_Trs',
 'Unemp_Comp_Ben_Paymts',
 'Unemp_Comp_Cash___Sec',
 'Unemp_Comp_Other_Balance',
 'Unemp_Comp_Total_Exp',
 'Unemp_Ext___Spec_Pmts',
 'Unemp_Federal_Advances',
 'Unemp_Int_Revenue',
 'Unemp_Payroll_Tax',
 'VetBonus',
 'Water_Trans_Cap_Outlay',
 'Water_Trans_Construct',
 'Water_Trans_Current_Exp',
 'Water_Trans_Direct_Exp',
 'Water_Trans_IG_Loc_Govts',
 'Water_Trans_IG_To_Sta',
 'Water_Trans_Total_Exp',
 'Water_Util_Cap_Outlay',
 'Water_Util_Construct',
 'Water_Util_Current_Exp',
 'Water_Util_Inter_Exp',
 'Water_Util_Total_Exp',
 'Water_Utility_Revenue',
 'Welf_Cash_Cash_Assist',
 'Welf_Cash_IG_Local_Govts',
 'Welf_Cash_Total_Exp',
 'Welf_Categ_Cash_Assist',
 'Welf_Categ_IG_Loc_Govts',
 'Welf_Categ_IG_To_State',
 'Welf_Categ_Total_Exp',
 'Welf_Ins_Cap_Outlay',
 'Welf_Ins_Construction',
 'Welf_Ins_Current_Exp',
 'Welf_Ins_Total_Exp',
 'Welf_NEC_Cap_Outlay',
 'Welf_NEC_Construction',
 'Welf_NEC_Current_Exp',
 'Welf_NEC_Direct_Expend',
 'Welf_NEC_IG_Local_Govts',
 'Welf_NEC_IG_To_State',
 'Welf_NEC_Total_Expend',
 'Welf_State_Share_Part_D',
 'Welf_Vend_Pmts_Medical',
 'Welf_Vend_Pmts_NEC',
 'Year']

Check the percentage of null/zero values in each column in the dataset

In [177]:
def missing_data(df):
    missing_data = (~df.astype(bool)).sum().sort_values(ascending=False)
    missing_data = missing_data[missing_data>0]

    print('\033[4m \bNumber \b\033[0m of missing values per column:')
    print(missing_data)
    print()
    print("\033[4m \bPercentage \b\033[0m of missing values per column:")
    print(missing_data/len(df)*100)
    
    return missing_data

In [178]:
missing = missing_data(data)

 Number  of missing values per column:
Hous___Com_IG_To_State        2040
LTD_Ret_Unsp_Trans_Util       2040
Welf_Categ_IG_To_State        2040
Local_IGR_InterSchool_Aid     2040
Welf_NEC_IG_To_State          2040
Sewerage_IG_To_State          2040
SW_Mgmt_IG_To_State           2040
Water_Trans_IG_To_Sta         2040
General_NEC_IG_To_St          2040
Fire_Prot_IG_Local_Govts      2040
Emp_Ret_Other_Earnings        2040
LTD_Iss_FFC_Gas_Util          2040
Total_LTD_Iss_Unsp            2040
LTD_Iss_Unsp_Utility          2040
LTD_Iss_Unsp_Water_Util       2040
LTD_Iss_Unsp_Elec_Util        2040
LTD_Iss_Unsp_Gas_Util         2040
LTD_Iss_Unsp_Trans_Util       2040
LTD_Iss_Unsp_General          2040
LTD_Iss_Unsp_Elem_Educ        2040
LTD_Iss_Unsp_Other_Educ       2040
LTD_Iss_Unsp_Other_NEC        2040
LTD_Ret_FFC_Gas_Util          2040
Total_LTD_Ret_Unsp            2040
LTD_Ret_Unsp_Utility          2040
LTD_Ret_Unsp_Water_Util       2040
LTD_Ret_Unsp_Elec_Utili       2040
State_IGR_Other               2040
State_IGR_Sewerage            2040
State_IGR_Public_Welf         2040
                              ...
Emp_Ret_Loc_Emp_Ctrib            7
Correct_Cap_Outlay               4
Sinking_Fd_Cash___Sec            3
Higher_Ed_Cap_Outlay             3
Welf_Categ_Total_Exp             3
Emp_Retire_Sec_Tot_Nong          2
Fed_IGR_Highways                 2
Fin_Admin_Cap_Outlay             2
General_NEC_Cap_Outlay           2
Unemp_Comp_Cash___Sec            2
Emp_Ret_Int_Rev                  2
Parks___Rec_Cap_Outlay           2
Emp_Retire_Total_Sec             2
Parks___Rec_Total_Exp            1
Total_Emp_Ret_Rev                1
Emp_Retire_Cash___Sec            1
Parks___Rec_Direct_Exp           1
Alcoholic_Beverage_Tax           1
Total_Hospital_Total_Exp         1
Emp_Sec_Adm_Direct_Exp           1
Total_Hospital_Dir_Exp           1
Fed_IGR_Other                    1
Total_Educ_Construct             1
Total_Hospital_Current_Exp       1
Emp_Ret_Total_Ctrib              1
Parks___Rec_Current_Exp          1
Emp_Ret_Total_Expend             1
Emp_Ret_Benefit_Paymts           1
Emp_Sec_Adm_Current_Exp          1
Welf_NEC_Current_Exp             1
Length: 464, dtype: int64

 Percentage  of missing values per column:
Hous___Com_IG_To_State        100.000000
LTD_Ret_Unsp_Trans_Util       100.000000
Welf_Categ_IG_To_State        100.000000
Local_IGR_InterSchool_Aid     100.000000
Welf_NEC_IG_To_State          100.000000
Sewerage_IG_To_State          100.000000
SW_Mgmt_IG_To_State           100.000000
Water_Trans_IG_To_Sta         100.000000
General_NEC_IG_To_St          100.000000
Fire_Prot_IG_Local_Govts      100.000000
Emp_Ret_Other_Earnings        100.000000
LTD_Iss_FFC_Gas_Util          100.000000
Total_LTD_Iss_Unsp            100.000000
LTD_Iss_Unsp_Utility          100.000000
LTD_Iss_Unsp_Water_Util       100.000000
LTD_Iss_Unsp_Elec_Util        100.000000
LTD_Iss_Unsp_Gas_Util         100.000000
LTD_Iss_Unsp_Trans_Util       100.000000
LTD_Iss_Unsp_General          100.000000
LTD_Iss_Unsp_Elem_Educ        100.000000
LTD_Iss_Unsp_Other_Educ       100.000000
LTD_Iss_Unsp_Other_NEC        100.000000
LTD_Ret_FFC_Gas_Util          100.000000
Total_LTD_Ret_Unsp            100.000000
LTD_Ret_Unsp_Utility          100.000000
LTD_Ret_Unsp_Water_Util       100.000000
LTD_Ret_Unsp_Elec_Utili       100.000000
State_IGR_Other               100.000000
State_IGR_Sewerage            100.000000
State_IGR_Public_Welf         100.000000
                                 ...
Emp_Ret_Loc_Emp_Ctrib           0.343137
Correct_Cap_Outlay              0.196078
Sinking_Fd_Cash___Sec           0.147059
Higher_Ed_Cap_Outlay            0.147059
Welf_Categ_Total_Exp            0.147059
Emp_Retire_Sec_Tot_Nong         0.098039
Fed_IGR_Highways                0.098039
Fin_Admin_Cap_Outlay            0.098039
General_NEC_Cap_Outlay          0.098039
Unemp_Comp_Cash___Sec           0.098039
Emp_Ret_Int_Rev                 0.098039
Parks___Rec_Cap_Outlay          0.098039
Emp_Retire_Total_Sec            0.098039
Parks___Rec_Total_Exp           0.049020
Total_Emp_Ret_Rev               0.049020
Emp_Retire_Cash___Sec           0.049020
Parks___Rec_Direct_Exp          0.049020
Alcoholic_Beverage_Tax          0.049020
Total_Hospital_Total_Exp        0.049020
Emp_Sec_Adm_Direct_Exp          0.049020
Total_Hospital_Dir_Exp          0.049020
Fed_IGR_Other                   0.049020
Total_Educ_Construct            0.049020
Total_Hospital_Current_Exp      0.049020
Emp_Ret_Total_Ctrib             0.049020
Parks___Rec_Current_Exp         0.049020
Emp_Ret_Total_Expend            0.049020
Emp_Ret_Benefit_Paymts          0.049020
Emp_Sec_Adm_Current_Exp         0.049020
Welf_NEC_Current_Exp            0.049020
Length: 464, dtype: float64

Let's delete all those columns where more than 90% of the data is missing

In [179]:
keys = missing[missing > 0.9*len(data)].keys().tolist()
print(len(data.keys()), '->', end=' ')
data = data.drop(columns=keys)
print(len(data.keys()))

583 -> 429

In [180]:
missing = missing_data(data)

 Number  of missing values per column:
Misc_Com_Activ_Constr         1828
LTD_Ret_NG_Utility            1827
Elec_Util_Cap_Outlay          1815
Elec_Util_Inter_Exp           1812
LTD_Out_NG_Utility            1810
LTD_Ret_Utility               1788
LTD_Iss_Gen_Elem_Educ         1786
Water_Util_Cap_Outlay         1777
Total_LTD_Out_Utility         1774
Fed_IGR_Gen_Rev_Shar          1767
Water_Utility_Revenue         1766
LTD_Out_FFC_Elem_Educ         1760
LTD_Ret_FFC_Elem_Educ         1759
Electric_Utility_Rev          1738
Local_IGR_Transit_Sub         1730
Elec_Util_Current_Exp         1727
Elec_Util_Total_Exp           1720
Misc_Com_Activ_Cap_Out        1703
LTD_Iss_FFC_Other_Educ        1702
Elem_Educ_Construction        1691
Transit_Sub_Direct_Sub        1690
Chg_Sewerage                  1683
Transit_Utility_Rev           1681
Water_Trans_IG_Loc_Govts      1670
Special_Assessments           1664
Trans_Util_Construct          1645
Hosp_Other_Current_Exp        1644
Sewerage_Construction         1643
Hosp_Other_Direct_Exp         1633
LTD_Ret_Gen_Elem_Educ         1627
                              ...
Emp_Ret_Loc_Emp_Ctrib            7
Correct_Cap_Outlay               4
Sinking_Fd_Cash___Sec            3
Higher_Ed_Cap_Outlay             3
Welf_Categ_Total_Exp             3
Emp_Retire_Total_Sec             2
Emp_Ret_Int_Rev                  2
Fin_Admin_Cap_Outlay             2
Fed_IGR_Highways                 2
Parks___Rec_Cap_Outlay           2
General_NEC_Cap_Outlay           2
Emp_Retire_Sec_Tot_Nong          2
Unemp_Comp_Cash___Sec            2
Parks___Rec_Current_Exp          1
Emp_Sec_Adm_Current_Exp          1
Total_Emp_Ret_Rev                1
Emp_Ret_Total_Ctrib              1
Total_Hospital_Current_Exp       1
Fed_IGR_Other                    1
Emp_Retire_Cash___Sec            1
Emp_Sec_Adm_Direct_Exp           1
Emp_Ret_Total_Expend             1
Emp_Ret_Benefit_Paymts           1
Total_Educ_Construct             1
Welf_NEC_Current_Exp             1
Parks___Rec_Total_Exp            1
Alcoholic_Beverage_Tax           1
Parks___Rec_Direct_Exp           1
Total_Hospital_Dir_Exp           1
Total_Hospital_Total_Exp         1
Length: 310, dtype: int64

 Percentage  of missing values per column:
Misc_Com_Activ_Constr         89.607843
LTD_Ret_NG_Utility            89.558824
Elec_Util_Cap_Outlay          88.970588
Elec_Util_Inter_Exp           88.823529
LTD_Out_NG_Utility            88.725490
LTD_Ret_Utility               87.647059
LTD_Iss_Gen_Elem_Educ         87.549020
Water_Util_Cap_Outlay         87.107843
Total_LTD_Out_Utility         86.960784
Fed_IGR_Gen_Rev_Shar          86.617647
Water_Utility_Revenue         86.568627
LTD_Out_FFC_Elem_Educ         86.274510
LTD_Ret_FFC_Elem_Educ         86.225490
Electric_Utility_Rev          85.196078
Local_IGR_Transit_Sub         84.803922
Elec_Util_Current_Exp         84.656863
Elec_Util_Total_Exp           84.313725
Misc_Com_Activ_Cap_Out        83.480392
LTD_Iss_FFC_Other_Educ        83.431373
Elem_Educ_Construction        82.892157
Transit_Sub_Direct_Sub        82.843137
Chg_Sewerage                  82.500000
Transit_Utility_Rev           82.401961
Water_Trans_IG_Loc_Govts      81.862745
Special_Assessments           81.568627
Trans_Util_Construct          80.637255
Hosp_Other_Current_Exp        80.588235
Sewerage_Construction         80.539216
Hosp_Other_Direct_Exp         80.049020
LTD_Ret_Gen_Elem_Educ         79.754902
                                ...
Emp_Ret_Loc_Emp_Ctrib          0.343137
Correct_Cap_Outlay             0.196078
Sinking_Fd_Cash___Sec          0.147059
Higher_Ed_Cap_Outlay           0.147059
Welf_Categ_Total_Exp           0.147059
Emp_Retire_Total_Sec           0.098039
Emp_Ret_Int_Rev                0.098039
Fin_Admin_Cap_Outlay           0.098039
Fed_IGR_Highways               0.098039
Parks___Rec_Cap_Outlay         0.098039
General_NEC_Cap_Outlay         0.098039
Emp_Retire_Sec_Tot_Nong        0.098039
Unemp_Comp_Cash___Sec          0.098039
Parks___Rec_Current_Exp        0.049020
Emp_Sec_Adm_Current_Exp        0.049020
Total_Emp_Ret_Rev              0.049020
Emp_Ret_Total_Ctrib            0.049020
Total_Hospital_Current_Exp     0.049020
Fed_IGR_Other                  0.049020
Emp_Retire_Cash___Sec          0.049020
Emp_Sec_Adm_Direct_Exp         0.049020
Emp_Ret_Total_Expend           0.049020
Emp_Ret_Benefit_Paymts         0.049020
Total_Educ_Construct           0.049020
Welf_NEC_Current_Exp           0.049020
Parks___Rec_Total_Exp          0.049020
Alcoholic_Beverage_Tax         0.049020
Parks___Rec_Direct_Exp         0.049020
Total_Hospital_Dir_Exp         0.049020
Total_Hospital_Total_Exp       0.049020
Length: 310, dtype: float64

For each of these columns, how many states have all 0 values and how many years have all 0 values

In [181]:
key = 'Misc_Com_Activ_Constr'

In [187]:
def missing_values_for(df, x):
    x_wise = pd.pivot_table(df.fillna(0), index=x, aggfunc=np.sum)
    x_wise_zeros = (~x_wise.astype(bool)).sum()
    x_wise_zeros = x_wise_zeros.sort_values(ascending=False)
    return x_wise_zeros

In [201]:
missing_number_years = missing_values_for(data, 'Year')
missing_number_states = missing_values_for(data, 'State')

In [202]:
missing_number_years

Fed_IGR_Gen_Rev_Shar        30
Elem_Educ_IG_Sch_to_Sch     30
Emp_Ret_Other_Paymts        29
Beg_LTD_Out_Private_Purp    20
Beg_LTD_Out_Other_NEC       18
Beg_LTD_Out_General         18
LTD_Ret_NG_Private_Purp     17
LTD_Iss_NG_Private_Purp     17
LTD_Out_NG_Private_Purp     17
LTD_Iss_Gen_Other_Educ      12
LTD_Iss_Gen_Elem_Educ       12
Own_Hospital_Current_Exp    12
LTD_Iss_FFC_Other_NEC       12
LTD_Iss_FFC_Other_Educ      12
LTD_Iss_Gen_Other_NEC       12
LTD_Iss_General             12
LTD_Iss_FFC_General         12
Own_Hospital_Cap_Out        12
Own_Hospital_Construct      12
LTD_Ret_Utility             12
Own_Hospital_Total_Exp      12
Hosp_Other_Total_Exp        12
LTD_Iss_NG_Other_Educ       12
Hosp_Other_IG_Loc_Govts     12
Hosp_Other_Direct_Exp       12
Hosp_Other_Current_Exp      12
Tot_LTD_Out_NG              12
Total_LTD_Iss_FFC           12
Total_LTD_Iss_NG            12
Total_LTD_Out_FFC           12
                            ..
State_Code                   0
Taxes_NEC                    0
Tobacco_Tax                  0
Toll_Hwy_Cap_Outlay          0
Toll_Hwy_Construction        0
Regular_Hwy_IG_Loc_Govts     0
Regular_Hwy_Direct_Exp       0
Regular_Hwy_Current_Exp      0
Prot_Insp_IG_Local_Govts     0
Police_Prot_Total_Exp        0
Population                   0
Prop_Sale_Other              0
Prop_Sale_Total              0
Property_Tax                 0
Prot_Insp_Cap_Outlay         0
Prot_Insp_Construction       0
Prot_Insp_Current_Exp        0
Prot_Insp_Direct_Exp         0
Prot_Insp_Total_Exp          0
Regular_Hwy_Construct        0
Public_Utility_License       0
Public_Utility_Tax           0
Public_Welf_Cap_Outlay       0
Public_Welf_Cash_Asst        0
Public_Welf_Construct        0
Public_Welf_Current_Exp      0
Public_Welf_Direct_Exp       0
Public_Welf_Total_Exp        0
Regular_Hwy_Cap_Outlay       0
Air_Trans_Cap_Outlay         0
Length: 427, dtype: int64

In [195]:
missing_number_years = missing_number_years[missing_number_years>0]
missing_number_states = missing_number_states[missing_number_states>0]

In [196]:
missing_number_years

Fed_IGR_Gen_Rev_Shar        30
Elem_Educ_IG_Sch_to_Sch     30
Emp_Ret_Other_Paymts        29
Beg_LTD_Out_Private_Purp    20
Beg_LTD_Out_Other_NEC       18
Beg_LTD_Out_General         18
LTD_Ret_NG_Private_Purp     17
LTD_Iss_NG_Private_Purp     17
LTD_Out_NG_Private_Purp     17
LTD_Iss_Gen_Other_Educ      12
LTD_Iss_Gen_Elem_Educ       12
Own_Hospital_Current_Exp    12
LTD_Iss_FFC_Other_NEC       12
LTD_Iss_FFC_Other_Educ      12
LTD_Iss_Gen_Other_NEC       12
LTD_Iss_General             12
LTD_Iss_FFC_General         12
Own_Hospital_Cap_Out        12
Own_Hospital_Construct      12
LTD_Ret_Utility             12
Own_Hospital_Total_Exp      12
Hosp_Other_Total_Exp        12
LTD_Iss_NG_Other_Educ       12
Hosp_Other_IG_Loc_Govts     12
Hosp_Other_Direct_Exp       12
Hosp_Other_Current_Exp      12
Tot_LTD_Out_NG              12
Total_LTD_Iss_FFC           12
Total_LTD_Iss_NG            12
Total_LTD_Out_FFC           12
                            ..
Total_LTD_Ret_NG            12
LTD_Out_NG_Other_NEC        12
LTD_Out_NG_Other_Educ       12
LTD_Out_NG_General          12
LTD_Out_General             12
LTD_Out_Gen_Other_NEC       12
LTD_Out_Gen_Other_Educ      12
LTD_Out_Gen_Elem_Educ       12
LTD_Out_FFC_Other_NEC       12
LTD_Out_FFC_Other_Educ      12
LTD_Out_FFC_General         12
Total_LTD_Ret_FFC           12
LTD_Out_NG_Utility          12
Transit_Sub_Direct_Sub      12
SW_Mgmt_IG_Local_Govts      11
Emp_Retire_Sec_Misc_Inv     11
Emp_Ret_Sta_To_Sta_Ctr      11
Transit_Sub_Total_Exp       10
Transit_Sub_IG_Loc_Govts    10
Educ_NEC_Assistance         10
SW_Mgmt_Construction         9
Total_Beg_LTD_Out            6
Beg_LTD_Out_All_Other        6
Elem_Educ_IG_Local_Govts     5
LTD_Out_Private_Purp         5
LTD_Iss_Private_Purp         5
LTD_Ret_Private_Purp         5
Emp_Retire_Sec_Mortgages     1
Emp_Retire_Sec_Corp_Stk      1
Emp_Retire_Sec_Corp_Bds      1
Length: 76, dtype: int64

In [ ]:
key = 'Emp_Retire_Sec_Corp_Bds'

In [208]:
len(data[data[key]==0])/len(data)

0.8960784313725491

In [229]:
a = data[data[key]==0][['State', 'Year']]
pd.pivot_table(a, index='State', aggfunc='count')['Year'].sort_values(ascending=False)

State
WYOMING               40
IOWA                  40
MISSOURI              40
MISSISSIPPI           40
MINNESOTA             40
MICHIGAN              40
MASSACHUSETTS         40
MAINE                 40
LOUISIANA             40
KANSAS                40
INDIANA               40
NEW HAMPSHIRE         40
ILLINOIS              40
HAWAII                40
GEORGIA               40
FLORIDA               40
DELAWARE              40
COLORADO              40
ARKANSAS              40
ARIZONA               40
NEBRASKA              40
MONTANA               40
NEW JERSEY            40
OREGON                40
WEST VIRGINIA         40
WASHINGTON DC CITY    40
WASHINGTON            40
VIRGINIA              40
UTAH                  40
TEXAS                 40
TENNESSEE             40
PENNSYLVANIA          40
SOUTH CAROLINA        40
ALABAMA               40
NEW MEXICO            40
KENTUCKY              39
RHODE ISLAND          39
NEVADA                39
CALIFORNIA            39
NORTH CAROLINA        38
VERMONT               34
NEW YORK              33
WISCONSIN             33
CONNECTICUT           31
OHIO                  25
IDAHO                 17
MARYLAND              16
SOUTH DAKOTA          15
NORTH DAKOTA          13
ALASKA                10
OKLAHOMA               7
Name: Year, dtype: int64

In [219]:
data[(data['State']=='ALABAMA')][['Year', key]]

      Year  Misc_Com_Activ_Constr
0     2016                      0
51    2015                      0
102   2014                      0
153   2013                      0
204   2012                      0
255   2011                      0
306   2010                      0
357   2009                      0
408   2008                      0
459   2007                      0
510   2006                      0
561   2005                      0
612   2004                      0
663   2003                      0
714   2002                      0
765   2001                      0
816   2000                      0
867   1999                      0
918   1998                      0
969   1997                      0
1020  1996                      0
1071  1995                      0
1122  1994                      0
1173  1993                      0
1224  1992                      0
1275  1991                      0
1326  1990                      0
1377  1989                      0
1428  1988                      0
1479  1987                      0
1530  1986                      0
1581  1985                      0
1632  1984                      0
1683  1983                      0
1734  1982                      0
1785  1981                      0
1836  1980                      0
1887  1979                      0
1938  1978                      0
1989  1977                      0

In [167]:
data[['State', 'Year', 'Total_Hospital_Total_Exp']]

                   State  Year  Total_Hospital_Total_Exp
0                ALABAMA  2016                   2636578
1                 ALASKA  2016                     28295
2                ARIZONA  2016                     53321
3               ARKANSAS  2016                   1021700
4             CALIFORNIA  2016                  10968673
5               COLORADO  2016                    914125
6            CONNECTICUT  2016                   1416094
7               DELAWARE  2016                     45578
8     WASHINGTON DC CITY  2016                    269888
9                FLORIDA  2016                    957317
10               GEORGIA  2016                   1290511
11                HAWAII  2016                    627076
12                 IDAHO  2016                     47715
13              ILLINOIS  2016                   1525969
14               INDIANA  2016                    154233
15                  IOWA  2016                   1784719
16                KANSAS  2016                   2018521
17              KENTUCKY  2016                   1865675
18             LOUISIANA  2016                    461054
19                 MAINE  2016                     78844
20              MARYLAND  2016                    551398
21         MASSACHUSETTS  2016                    550799
22              MICHIGAN  2016                   3789047
23             MINNESOTA  2016                    303151
24           MISSISSIPPI  2016                   1469107
25              MISSOURI  2016                   1991846
26               MONTANA  2016                     70494
27              NEBRASKA  2016                    178769
28                NEVADA  2016                    247890
29         NEW HAMPSHIRE  2016                     54828
...                  ...   ...                       ...
2010       MASSACHUSETTS  1977                    237463
2011            MICHIGAN  1977                    348558
2012           MINNESOTA  1977                    169186
2013         MISSISSIPPI  1977                     76251
2014            MISSOURI  1977                    164972
2015             MONTANA  1977                     27484
2016            NEBRASKA  1977                     65146
2017              NEVADA  1977                     10816
2018       NEW HAMPSHIRE  1977                     43839
2019          NEW JERSEY  1977                    295341
2020          NEW MEXICO  1977                     51927
2021            NEW YORK  1977                   1104205
2022      NORTH CAROLINA  1977                    280904
2023        NORTH DAKOTA  1977                     22800
2024                OHIO  1977                    344745
2025            OKLAHOMA  1977                    110107
2026              OREGON  1977                     97101
2027        PENNSYLVANIA  1977                    590875
2028        RHODE ISLAND  1977                     63402
2029      SOUTH CAROLINA  1977                    130311
2030        SOUTH DAKOTA  1977                     39790
2031           TENNESSEE  1977                    131415
2032               TEXAS  1977                    585831
2033                UTAH  1977                     44451
2034             VERMONT  1977                     15019
2035            VIRGINIA  1977                    255010
2036          WASHINGTON  1977                    100778
2037       WEST VIRGINIA  1977                     59044
2038           WISCONSIN  1977                    140302
2039             WYOMING  1977                     12085

[2040 rows x 3 columns]

In [168]:
for key in missing.sort_values().keys():
    missing_number_states = data[data[key] == 0]['State'].drop_duplicates().count()
    missing_number_years = data[data[key] == 0]['Year'].drop_duplicates().count()
    print(key, 'have missing values for', missing_number_years, 'years in', missing_number_states, 'states')

Total_Hospital_Total_Exp have missing values for 1 years in 1 states
Parks___Rec_Current_Exp have missing values for 1 years in 1 states
Emp_Sec_Adm_Current_Exp have missing values for 1 years in 1 states
Total_Emp_Ret_Rev have missing values for 1 years in 1 states
Emp_Ret_Total_Ctrib have missing values for 1 years in 1 states
Total_Hospital_Current_Exp have missing values for 1 years in 1 states
Fed_IGR_Other have missing values for 1 years in 1 states
Emp_Retire_Cash___Sec have missing values for 1 years in 1 states
Total_Hospital_Dir_Exp have missing values for 1 years in 1 states
Emp_Ret_Total_Expend have missing values for 1 years in 1 states
Parks___Rec_Direct_Exp have missing values for 1 years in 1 states
Alcoholic_Beverage_Tax have missing values for 1 years in 1 states
Parks___Rec_Total_Exp have missing values for 1 years in 1 states
Emp_Sec_Adm_Direct_Exp have missing values for 1 years in 1 states
Total_Educ_Construct have missing values for 1 years in 1 states
Welf_NEC_Current_Exp have missing values for 1 years in 1 states
Emp_Ret_Benefit_Paymts have missing values for 1 years in 1 states
Unemp_Comp_Cash___Sec have missing values for 2 years in 2 states
Emp_Retire_Sec_Tot_Nong have missing values for 2 years in 1 states
General_NEC_Cap_Outlay have missing values for 2 years in 1 states
Parks___Rec_Cap_Outlay have missing values for 2 years in 2 states
Fed_IGR_Highways have missing values for 2 years in 1 states
Fin_Admin_Cap_Outlay have missing values for 2 years in 2 states
Emp_Ret_Int_Rev have missing values for 2 years in 2 states
Emp_Retire_Total_Sec have missing values for 2 years in 1 states
Welf_Categ_Total_Exp have missing values for 1 years in 3 states
Higher_Ed_Cap_Outlay have missing values for 3 years in 1 states
Sinking_Fd_Cash___Sec have missing values for 3 years in 1 states
Correct_Cap_Outlay have missing values for 4 years in 2 states
Emp_Ret_Loc_Emp_Ctrib have missing values for 7 years in 2 states
Tot_Local_IG_Rev have missing values for 10 years in 1 states
Occup_and_Bus_Lic_NEC have missing values for 10 years in 1 states
Fed_IGR_Emp_Sec_Adm have missing values for 7 years in 6 states
Insurance_Premium_Tax have missing values for 10 years in 1 states
Total_LTD_Issued have missing values for 7 years in 7 states
Police_Prot_Cap_Outlay have missing values for 9 years in 3 states
Gen_Pub_Bldg_Total_Exp have missing values for 11 years in 3 states
Cen_Staff_Cap_Outlay have missing values for 13 years in 6 states
Public_Welf_Cap_Outlay have missing values for 12 years in 6 states
Health_Capital_Outlay have missing values for 12 years in 7 states
Emp_Retire_Cash___Dep have missing values for 17 years in 8 states
Total_Hospital_Cap_Out have missing values for 18 years in 5 states
Higher_Ed_Construct have missing values for 19 years in 3 states
LTD_Iss_All_Other have missing values for 20 years in 13 states
Prot_Insp_Cap_Outlay have missing values for 18 years in 8 states
Natural_Res_Current_Exp have missing values for 28 years in 1 states
Natural_Res_Total_Exp have missing values for 28 years in 1 states
Natural_Res_Direct_Exp have missing values for 28 years in 1 states
Fed_IGR_Natural_Res have missing values for 30 years in 1 states
Natural_Res_Cap_Outlay have missing values for 31 years in 1 states
Judicial_Cap_Outlay have missing values for 19 years in 7 states
Welf_NEC_Cap_Outlay have missing values for 18 years in 11 states
Bond_Fd_Cash___Sec have missing values for 12 years in 10 states
General_NEC_Construct have missing values for 25 years in 17 states
Libraries_Total_Expend have missing values for 21 years in 3 states
Hunting___Fishing_License have missing values for 39 years in 1 states
Chg_Total_Nat_Res have missing values for 39 years in 1 states
Educ_NEC_Total_Expend have missing values for 40 years in 1 states
Educ_NEC_Current_Exp have missing values for 40 years in 1 states
Natural_Res_Construct have missing values for 33 years in 6 states
Educ_NEC_Direct_Expend have missing values for 40 years in 1 states
Unemp_Comp_Bal_In_US_Trs have missing values for 14 years in 15 states
Total_Educ_Assist___Sub have missing values for 40 years in 2 states
Parks___Rec_Construct have missing values for 28 years in 13 states
Fines_and_Forfeits have missing values for 21 years in 6 states
Gen_Pub_Bldg_Cap_Out have missing values for 34 years in 13 states
Educ_NEC_Cap_Outlay have missing values for 40 years in 5 states
Chg_Parks___Recreation have missing values for 27 years in 6 states
Emp_Ret_Withdrawals have missing values for 27 years in 13 states
General_NEC_IG_Loc_Govts have missing values for 40 years in 5 states
Correct_Construct have missing values for 30 years in 17 states
Chg_Hospitals have missing values for 28 years in 5 states
Corporation_License have missing values for 40 years in 6 states
Chg_Highways have missing values for 36 years in 5 states
Libraries_Direct_Exp have missing values for 36 years in 5 states
Hous___Com_Total_Exp have missing values for 14 years in 22 states
Hous___Com_Direct_Exp have missing values for 14 years in 25 states
Hous___Com_Current_Exp have missing values for 15 years in 25 states
Libraries_Current_Exp have missing values for 36 years in 6 states
Motor_Veh_Oper_License have missing values for 40 years in 6 states
Rents_and_Royalties have missing values for 22 years in 17 states
Emp_Retire_Sec_Corp_Bds have missing values for 28 years in 51 states
Local_IGR_Other have missing values for 39 years in 9 states
Gen_Pub_Bldg_Current_Exp have missing values for 40 years in 14 states
Other_License_Taxes have missing values for 40 years in 14 states
Emp_Ret_From_Other_Gov have missing values for 40 years in 18 states
Total_Income_Taxes have missing values for 30 years in 4 states
Alcoholic_Beverage_Lic have missing values for 40 years in 6 states
Natural_Res_IG_Loc_Govts have missing values for 40 years in 16 states
Death_and_Gift_Tax have missing values for 21 years in 31 states
Public_Welf_Cash_Asst have missing values for 31 years in 8 states
Local_IGR_Other_Education have missing values for 40 years in 14 states
Gen_Pub_Bldg_Construct have missing values for 40 years in 25 states
Regular_Hwy_IG_Loc_Govts have missing values for 40 years in 12 states
Prop_Sale_Total have missing values for 36 years in 27 states
Prop_Sale_Other have missing values for 36 years in 27 states
Elem_Educ_Total_Exp have missing values for 5 years in 32 states
Emp_Retire_Sec_Oth_Nong have missing values for 37 years in 31 states
Emp_Sec_Adm_Cap_Outlay have missing values for 40 years in 23 states
Emp_Retire_Sec_Corp_Stk have missing values for 33 years in 51 states
Corp_Net_Income_Tax have missing values for 40 years in 6 states
Health_IG_Local_Govts have missing values for 40 years in 12 states
Chg_Regular_Highways have missing values for 40 years in 18 states
Emp_Retire_Sec_Tot_Fed have missing values for 36 years in 25 states
Welf_Categ_Cash_Assist have missing values for 40 years in 13 states
Total_Gen_Sales_Tax have missing values for 40 years in 5 states
Unemp_Int_Revenue have missing values for 24 years in 34 states
Total_Hospital_Construct have missing values for 40 years in 28 states
Libraries_Cap_Outlay have missing values for 40 years in 36 states
Unemp_Ext___Spec_Pmts have missing values for 13 years in 51 states
Individual_Income_Tax have missing values for 40 years in 7 states
Air_Trans_Total_Expend have missing values for 40 years in 20 states
Unemp_Comp_Other_Balance have missing values for 15 years in 49 states
Public_Utility_Tax have missing values for 40 years in 15 states
LTD_Out_Private_Purp have missing values for 22 years in 51 states
LTD_Ret_Private_Purp have missing values for 23 years in 51 states
Parks___Rec_IG_Loc_Govts have missing values for 40 years in 31 states
Chg_Housing___Comm_Dev have missing values for 40 years in 40 states
Educ_NEC_Construction have missing values for 40 years in 36 states
LTD_Iss_Private_Purp have missing values for 35 years in 51 states
Libraries_IG_Local_Govts have missing values for 40 years in 25 states
Total_Beg_LTD_Out have missing values for 12 years in 51 states
Beg_LTD_Out_All_Other have missing values for 12 years in 51 states
Fed_IGR_Hous_Com_Dev have missing values for 40 years in 38 states
Police_Prot_IG_Loc_Govts have missing values for 40 years in 37 states
Other_Select_Sales_Tax have missing values for 33 years in 23 states

Health_Construction have missing values for 40 years in 45 states
Police_Prot_Construct have missing values for 40 years in 43 states
Property_Tax have missing values for 40 years in 17 states
Public_Welf_Construct have missing values for 40 years in 39 states
Welf_NEC_IG_Local_Govts have missing values for 40 years in 32 states
Air_Trans_Direct_Expend have missing values for 40 years in 28 states
Local_IGR_Highways have missing values for 40 years in 27 states
Unemp_Federal_Advances have missing values for 22 years in 51 states
Hous___Com_Cap_Outlay have missing values for 40 years in 47 states
Welf_Ins_Total_Exp have missing values for 40 years in 21 states
Welf_Ins_Current_Exp have missing values for 40 years in 21 states
Amusement_License have missing values for 40 years in 32 states
Educ_NEC_Assistance have missing values for 40 years in 51 states
Air_Trans_Current_Exp have missing values for 40 years in 31 states
Correct_IG_Loc_Govts have missing values for 40 years in 36 states
Emp_Ret_Sta_To_Sta_Ctr have missing values for 39 years in 51 states
ST_Debt_End_of_Year have missing values for 40 years in 41 states
Welf_Ins_Cap_Outlay have missing values for 40 years in 28 states
LTD_Out_NG_General have missing values for 12 years in 51 states
Tot_LTD_Out_NG have missing values for 12 years in 51 states
LTD_Ret_General have missing values for 12 years in 51 states
LTD_Out_General have missing values for 12 years in 51 states
LTD_Ret_Gen_Other_NEC have missing values for 13 years in 51 states
LTD_Ret_NG_General have missing values for 13 years in 51 states
Total_LTD_Ret_NG have missing values for 13 years in 51 states
LTD_Out_Gen_Other_NEC have missing values for 13 years in 51 states
Own_Hospital_Total_Exp have missing values for 13 years in 51 states
Own_Hospital_Current_Exp have missing values for 13 years in 51 states
Own_Hospital_Cap_Out have missing values for 20 years in 51 states
LTD_Iss_General have missing values for 18 years in 51 states
Welf_Cash_Total_Exp have missing values for 40 years in 36 states
Total_LTD_Iss_NG have missing values for 22 years in 51 states
LTD_Iss_Gen_Other_NEC have missing values for 21 years in 51 states
LTD_Iss_NG_General have missing values for 22 years in 51 states
Judicial_IG_Local_Govts have missing values for 40 years in 41 states
LTD_Ret_Gen_Other_Educ have missing values for 40 years in 51 states
LTD_Out_Gen_Other_Educ have missing values for 40 years in 51 states
LTD_Out_NG_Other_NEC have missing values for 35 years in 51 states
Pari_mutuels_Tax have missing values for 40 years in 27 states
Elem_Educ_IG_Local_Govts have missing values for 40 years in 51 states
LTD_Ret_NG_Other_NEC have missing values for 35 years in 51 states
Welf_Vend_Pmts_NEC have missing values for 40 years in 42 states
Welf_Cash_Cash_Assist have missing values for 40 years in 36 states
Fed_IGR_Air_Transport have missing values for 40 years in 40 states
LTD_Ret_NG_Other_Educ have missing values for 40 years in 51 states
Severance_Tax have missing values for 40 years in 22 states
LTD_Out_NG_Other_Educ have missing values for 40 years in 51 states
Air_Trans_Cap_Outlay have missing values for 40 years in 38 states
Air_Trans_IG_Local_Govts have missing values for 40 years in 38 states
Local_IGR_Health___Hos have missing values for 40 years in 35 states
Net_Lottery_Revenue have missing values for 40 years in 38 states
Own_Hospital_Construct have missing values for 40 years in 51 states
Amusement_Tax have missing values for 40 years in 32 states
Sewerage_Total_Expend have missing values for 40 years in 36 states
Docum_and_Stock_Tr_Tax have missing values for 40 years in 24 states
Public_Utility_License have missing values for 40 years in 28 states
SW_Mgmt_Total_Expend have missing values for 40 years in 50 states
Fin_Admin_Construction have missing values for 40 years in 49 states
Hous___Com_IG_Loc_Govts have missing values for 40 years in 45 states
SW_Mgmt_Direct_Expend have missing values for 40 years in 50 states
Emp_Retire_Sec_Misc_Inv have missing values for 40 years in 51 states
SW_Mgmt_Current_Exp have missing values for 40 years in 50 states
IG_Exp_To_Federal_Govt have missing values for 39 years in 41 states
LTD_Out_FFC_General have missing values for 40 years in 51 states
Total_LTD_Out_FFC have missing values for 40 years in 51 states
LTD_Out_FFC_Other_NEC have missing values for 40 years in 51 states
Total_LTD_Ret_FFC have missing values for 40 years in 51 states
LTD_Ret_FFC_General have missing values for 40 years in 51 states
LTD_Ret_FFC_Other_NEC have missing values for 40 years in 51 states
LTD_Iss_Gen_Other_Educ have missing values for 40 years in 51 states
Welf_NEC_Construction have missing values for 40 years in 51 states
LTD_Out_NG_Private_Purp have missing values for 34 years in 51 states
LTD_Ret_NG_Private_Purp have missing values for 34 years in 51 states
Local_IGR_Public_Welf have missing values for 40 years in 42 states
LTD_Iss_NG_Other_Educ have missing values for 40 years in 51 states
Chg_Toll_Highways have missing values for 40 years in 31 states
Welf_Ins_Construction have missing values for 40 years in 47 states
LTD_Iss_NG_Other_NEC have missing values for 40 years in 51 states
Toll_Hwy_Total_Expend have missing values for 40 years in 32 states
Toll_Hwy_Current_Exp have missing values for 40 years in 32 states
Cen_Staff_Construction have missing values for 40 years in 51 states
Judicial_Construction have missing values for 40 years in 48 states
LTD_Iss_NG_Private_Purp have missing values for 40 years in 51 states
Total_Util_Total_Exp have missing values for 40 years in 37 states
Total_Util_Current_Exp have missing values for 40 years in 37 states
Beg_LTD_Out_Other_NEC have missing values for 24 years in 51 states
Beg_LTD_Out_General have missing values for 24 years in 51 states
SW_Mgmt_Capital_Outlay have missing values for 40 years in 51 states
Educ_NEC_IG_Local_Govts have missing values for 40 years in 50 states
Sewerage_Direct_Expend have missing values for 40 years in 41 states
Fed_IGR_Sewerage have missing values for 36 years in 47 states
Prot_Insp_Construction have missing values for 40 years in 50 states
Emp_Retire_Sec_Mortgages have missing values for 40 years in 51 states
Water_Trans_Total_Exp have missing values for 40 years in 35 states
Sewerage_IG_Local_Govts have missing values for 40 years in 46 states
LTD_Iss_FFC_General have missing values for 40 years in 51 states
Total_LTD_Iss_FFC have missing values for 40 years in 51 states
Sewerage_Current_Exp have missing values for 40 years in 41 states
Air_Trans_Construction have missing values for 40 years in 46 states
Fin_Admin_IG_Local_Govts have missing values for 40 years in 50 states
Toll_Hwy_Cap_Outlay have missing values for 40 years in 38 states
Prot_Insp_IG_Local_Govts have missing values for 40 years in 50 states
LTD_Iss_FFC_Other_NEC have missing values for 40 years in 51 states
Chg_Air_Transportation have missing values for 40 years in 39 states
Toll_Hwy_Construction have missing values for 40 years in 38 states
Water_Trans_Direct_Exp have missing values for 40 years in 36 states
Water_Trans_Current_Exp have missing values for 40 years in 37 states
Total_Util_Cap_Outlay have missing values for 40 years in 41 states
Transit_Sub_Total_Exp have missing values for 40 years in 51 states
Fed_IGR_Transit_Sub have missing values for 40 years in 45 states
Sewerage_Cap_Outlay have missing values for 40 years in 49 states
Beg_LTD_Out_Private_Purp have missing values for 28 years in 51 states
Elem_Educ_Direct_Exp have missing values for 40 years in 45 states
Water_Trans_Cap_Outlay have missing values for 40 years in 41 states
Emp_Sec_Adm_Construct have missing values for 40 years in 51 states
Chg_Solid_Waste_Mgmt have missing values for 40 years in 50 states
Total_Utility_Revenue have missing values for 40 years in 38 states
SW_Mgmt_IG_Local_Govts have missing values for 40 years in 51 states
Higher_Ed_IG_Loc_Govts have missing values for 40 years in 51 states
Welf_Categ_IG_Loc_Govts have missing values for 40 years in 45 states
Total_Hospital_IG_Loc_Govts have missing values for 40 years in 50 states
Water_Trans_Construct have missing values for 40 years in 42 states
Cen_Staff_IG_Local_Govts have missing values for 40 years in 51 states
Chg_Water_Transport have missing values for 40 years in 38 states
LTD_Out_FFC_Other_Educ have missing values for 40 years in 51 states
LTD_Ret_FFC_Other_Educ have missing values for 40 years in 51 states
Transit_Sub_IG_Loc_Govts have missing values for 40 years in 51 states
Liquor_Stores_Revenue have missing values for 40 years in 35 states
Liquor_Stores_Current_Exp have missing values for 40 years in 36 states
Liquor_Stores_Tot_Exp have missing values for 40 years in 36 states
Trans_Util_Total_Exp have missing values for 40 years in 45 states
Total_Util_Construct have missing values for 40 years in 44 states
Hosp_Other_Total_Exp have missing values for 40 years in 51 states
Trans_Util_Current_Exp have missing values for 40 years in 45 states
General_NEC_IG_To_Fed have missing values for 40 years in 47 states
Taxes_NEC have missing values for 40 years in 46 states
Elem_Educ_Current_Exp have missing values for 40 years in 45 states
Libraries_Construction have missing values for 40 years in 51 states

Elem_Educ_Cap_Outlay have missing values for 40 years in 48 states
Trans_Util_Cap_Outlay have missing values for 40 years in 46 states
Misc_Com_Activ_Tot_Exp have missing values for 40 years in 49 states
Misc_Com_Activ_Current_Exp have missing values for 40 years in 49 states
Water_Util_Total_Exp have missing values for 40 years in 48 states
Hosp_Other_IG_Loc_Govts have missing values for 40 years in 51 states
SW_Mgmt_Construction have missing values for 40 years in 51 states
Water_Util_Current_Exp have missing values for 40 years in 48 states
Hous___Com_Construct have missing values for 40 years in 49 states
Fed_IGR_Gen_Support have missing values for 35 years in 50 states
Elem_Educ_IG_Sch_to_Sch have missing values for 40 years in 51 states
Chg_Misc_Com_Activ have missing values for 40 years in 49 states
Emp_Ret_Other_Paymts have missing values for 40 years in 51 states
Total_Util_Inter_Exp have missing values for 40 years in 47 states
LTD_Out_Gen_Elem_Educ have missing values for 40 years in 51 states
Liquor_Stores_Cap_Out have missing values for 40 years in 48 states
LTD_Ret_Gen_Elem_Educ have missing values for 40 years in 51 states
Hosp_Other_Direct_Exp have missing values for 40 years in 51 states
Sewerage_Construction have missing values for 40 years in 49 states
Hosp_Other_Current_Exp have missing values for 40 years in 51 states
Trans_Util_Construct have missing values for 40 years in 48 states
Special_Assessments have missing values for 40 years in 50 states
Water_Trans_IG_Loc_Govts have missing values for 40 years in 51 states
Transit_Utility_Rev have missing values for 40 years in 45 states
Chg_Sewerage have missing values for 40 years in 50 states
Transit_Sub_Direct_Sub have missing values for 40 years in 51 states
Elem_Educ_Construction have missing values for 40 years in 49 states
LTD_Iss_FFC_Other_Educ have missing values for 40 years in 51 states
Misc_Com_Activ_Cap_Out have missing values for 40 years in 51 states
Elec_Util_Total_Exp have missing values for 40 years in 45 states
Elec_Util_Current_Exp have missing values for 40 years in 45 states
Local_IGR_Transit_Sub have missing values for 40 years in 50 states
Electric_Utility_Rev have missing values for 40 years in 45 states
LTD_Ret_FFC_Elem_Educ have missing values for 40 years in 51 states
LTD_Out_FFC_Elem_Educ have missing values for 40 years in 51 states
Water_Utility_Revenue have missing values for 40 years in 48 states
Fed_IGR_Gen_Rev_Shar have missing values for 35 years in 51 states
Total_LTD_Out_Utility have missing values for 40 years in 51 states
Water_Util_Cap_Outlay have missing values for 40 years in 49 states
LTD_Iss_Gen_Elem_Educ have missing values for 40 years in 51 states
LTD_Ret_Utility have missing values for 40 years in 51 states
LTD_Out_NG_Utility have missing values for 40 years in 51 states
Elec_Util_Inter_Exp have missing values for 40 years in 48 states
Elec_Util_Cap_Outlay have missing values for 40 years in 48 states
LTD_Ret_NG_Utility have missing values for 40 years in 51 states
Misc_Com_Activ_Constr have missing values for 40 years in 51 states

In [171]:
data[['State', 'Year', 'Misc_Com_Activ_Constr']]

                   State  Year  Misc_Com_Activ_Constr
0                ALABAMA  2016                      0
1                 ALASKA  2016                  64183
2                ARIZONA  2016                      0
3               ARKANSAS  2016                      0
4             CALIFORNIA  2016                      0
5               COLORADO  2016                      0
6            CONNECTICUT  2016                      0
7               DELAWARE  2016                      0
8     WASHINGTON DC CITY  2016                      0
9                FLORIDA  2016                      0
10               GEORGIA  2016                      0
11                HAWAII  2016                      0
12                 IDAHO  2016                      0
13              ILLINOIS  2016                      0
14               INDIANA  2016                      0
15                  IOWA  2016                      0
16                KANSAS  2016                      0
17              KENTUCKY  2016                      0
18             LOUISIANA  2016                      0
19                 MAINE  2016                      0
20              MARYLAND  2016                      0
21         MASSACHUSETTS  2016                      0
22              MICHIGAN  2016                      0
23             MINNESOTA  2016                      0
24           MISSISSIPPI  2016                      0
25              MISSOURI  2016                      0
26               MONTANA  2016                      0
27              NEBRASKA  2016                      0
28                NEVADA  2016                      0
29         NEW HAMPSHIRE  2016                      0
...                  ...   ...                    ...
2010       MASSACHUSETTS  1977                      0
2011            MICHIGAN  1977                      0
2012           MINNESOTA  1977                      0
2013         MISSISSIPPI  1977                      0
2014            MISSOURI  1977                      0
2015             MONTANA  1977                      0
2016            NEBRASKA  1977                      0
2017              NEVADA  1977                      0
2018       NEW HAMPSHIRE  1977                      0
2019          NEW JERSEY  1977                      0
2020          NEW MEXICO  1977                      0
2021            NEW YORK  1977                     89
2022      NORTH CAROLINA  1977                      0
2023        NORTH DAKOTA  1977                      0
2024                OHIO  1977                     71
2025            OKLAHOMA  1977                    989
2026              OREGON  1977                      0
2027        PENNSYLVANIA  1977                      0
2028        RHODE ISLAND  1977                      0
2029      SOUTH CAROLINA  1977                      0
2030        SOUTH DAKOTA  1977                   8197
2031           TENNESSEE  1977                      0
2032               TEXAS  1977                      0
2033                UTAH  1977                      0
2034             VERMONT  1977                      0
2035            VIRGINIA  1977                      0
2036          WASHINGTON  1977                      0
2037       WEST VIRGINIA  1977                      0
2038           WISCONSIN  1977                      0
2039             WYOMING  1977                      0

[2040 rows x 3 columns]

In [124]:
state_wise = data.groupby('State')

In [137]:
missing_years_per_state = {}
for state in data['State'].drop_duplicates():
    print(state)
    one_state = state_wise.get_group(state)
    missing_number_of_years = (one_state[missing.keys()]==0).sum()
    missing_number_of_years = missing_number_of_years[missing_number_of_years > 0]

ALABAMA
ALASKA
ARIZONA
ARKANSAS
CALIFORNIA
COLORADO
CONNECTICUT
DELAWARE
WASHINGTON DC CITY
FLORIDA
GEORGIA
HAWAII
IDAHO
ILLINOIS
INDIANA
IOWA
KANSAS
KENTUCKY
LOUISIANA
MAINE
MARYLAND
MASSACHUSETTS
MICHIGAN
MINNESOTA
MISSISSIPPI
MISSOURI
MONTANA
NEBRASKA
NEVADA
NEW HAMPSHIRE
NEW JERSEY
NEW MEXICO
NEW YORK
NORTH CAROLINA
NORTH DAKOTA
OHIO
OKLAHOMA
OREGON
PENNSYLVANIA
RHODE ISLAND
SOUTH CAROLINA
SOUTH DAKOTA
TENNESSEE
TEXAS
UTAH
VERMONT
VIRGINIA
WASHINGTON
WEST VIRGINIA
WISCONSIN
WYOMING

In [146]:
a = (state_wise.get_group('ALABAMA')[missing.keys()]==0).sum().sort_values()
a[a>0].sort_index().keys()

Index(['Air_Trans_Cap_Outlay', 'Air_Trans_Construction',
       'Air_Trans_Current_Exp', 'Air_Trans_IG_Local_Govts',
       'Amusement_License', 'Beg_LTD_Out_All_Other', 'Beg_LTD_Out_General',
       'Beg_LTD_Out_Other_NEC', 'Beg_LTD_Out_Private_Purp',
       'Cen_Staff_Construction',
       ...
       'Welf_Cash_Cash_Assist', 'Welf_Cash_Total_Exp',
       'Welf_Categ_IG_Loc_Govts', 'Welf_Ins_Cap_Outlay',
       'Welf_Ins_Construction', 'Welf_Ins_Current_Exp', 'Welf_Ins_Total_Exp',
       'Welf_NEC_Construction', 'Welf_NEC_IG_Local_Govts',
       'Welf_Vend_Pmts_NEC'],
      dtype='object', length=206)

data_norm = data.copy()

for key in data_norm.keys().tolist()[7:]:
    if np.issubdtype(data_norm[key].dtype, np.number):
        mean = data_norm[key].mean()
        std = data_norm[key].std()
        data_norm[key] = (data_norm[key] - mean) / std
data_norm.head()

In [106]:
corr = data.corr()
# corr_norm = data_norm.corr()

In [107]:
corr.head()

,Year,ID,State_Code,FIPS_Code_State,FYEndDate,Population,Total_Revenue,Total_Rev_Own_Sources,General_Revenue,Gen_Rev_Own_Sources,...,Emp_Retire_Sec_Mortgages,Emp_Retire_Sec_Misc_Inv,Emp_Retire_Sec_Oth_Nong,Unemp_Comp_Cash___Sec,Unemp_Comp_Bal_In_US_Trs,Unemp_Comp_Other_Balance,Nonin_Trust_Cash___Sec,Sinking_Fd_Cash___Sec,Bond_Fd_Cash___Sec,Oth_Nonin_Fd_Cash___Sec
Year,1.000000e+00,0.000000,0.000000,-1.847733e-18,-1.108152e-18,0.108860,0.382189,0.363311,0.404030,0.391705,...,-0.035406,0.393706,0.401140,0.051087,0.194345,-0.182371,0.459769,0.402115,0.220242,0.387717
ID,0.000000e+00,1.000000,0.999998,9.994402e-01,-1.822625e-01,-0.064596,-0.056890,-0.060753,-0.062385,-0.071052,...,-0.102342,0.016830,-0.027709,0.008823,-0.030806,0.058429,-0.049860,-0.027000,-0.126279,-0.042349
State_Code,0.000000e+00,0.999998,1.000000,9.994396e-01,-1.830763e-01,-0.064365,-0.056751,-0.060611,-0.062245,-0.070906,...,-0.102237,0.016908,-0.027591,0.008908,-0.030660,0.058374,-0.049692,-0.026834,-0.126196,-0.042220
FIPS_Code_State,-1.847733e-18,0.999440,0.999440,1.000000e+00,-1.857865e-01,-0.070229,-0.062166,-0.065973,-0.067465,-0.076019,...,-0.108007,0.013301,-0.031096,0.008532,-0.032895,0.060839,-0.056089,-0.028504,-0.132152,-0.049854
FYEndDate,-1.108152e-18,-0.182262,-0.183076,-1.857865e-01,1.000000e+00,-0.056193,-0.112672,-0.104472,-0.106365,-0.093025,...,-0.191561,-0.065742,-0.063751,0.009084,-0.014712,0.036400,-0.068988,-0.267671,-0.140849,0.086609

In [73]:
corr_norm.head()

,Year,ID,State_Code,FIPS_Code_State,FYEndDate,Population,Total_Revenue,Total_Rev_Own_Sources,General_Revenue,Gen_Rev_Own_Sources,...,Emp_Retire_Sec_Mortgages,Emp_Retire_Sec_Misc_Inv,Emp_Retire_Sec_Oth_Nong,Unemp_Comp_Cash___Sec,Unemp_Comp_Bal_In_US_Trs,Unemp_Comp_Other_Balance,Nonin_Trust_Cash___Sec,Sinking_Fd_Cash___Sec,Bond_Fd_Cash___Sec,Oth_Nonin_Fd_Cash___Sec
Year,1.000000e+00,0.000000,0.000000,-1.847733e-18,-1.108152e-18,0.108860,0.382189,0.363311,0.404030,0.391705,...,-0.035406,0.393706,0.401140,0.051087,0.194345,-0.182371,0.459769,0.402115,0.220242,0.387717
ID,0.000000e+00,1.000000,0.999998,9.994402e-01,-1.822625e-01,-0.064596,-0.056890,-0.060753,-0.062385,-0.071052,...,-0.102342,0.016830,-0.027709,0.008823,-0.030806,0.058429,-0.049860,-0.027000,-0.126279,-0.042349
State_Code,0.000000e+00,0.999998,1.000000,9.994396e-01,-1.830763e-01,-0.064365,-0.056751,-0.060611,-0.062245,-0.070906,...,-0.102237,0.016908,-0.027591,0.008908,-0.030660,0.058374,-0.049692,-0.026834,-0.126196,-0.042220
FIPS_Code_State,-1.847733e-18,0.999440,0.999440,1.000000e+00,-1.857865e-01,-0.070229,-0.062166,-0.065973,-0.067465,-0.076019,...,-0.108007,0.013301,-0.031096,0.008532,-0.032895,0.060839,-0.056089,-0.028504,-0.132152,-0.049854
FYEndDate,-1.108152e-18,-0.182262,-0.183076,-1.857865e-01,1.000000e+00,-0.056193,-0.112672,-0.104472,-0.106365,-0.093025,...,-0.191561,-0.065742,-0.063751,0.009084,-0.014712,0.036400,-0.068988,-0.267671,-0.140849,0.086609

In [74]:
missing

Misc_Com_Activ_Constr         1828
LTD_Ret_NG_Utility            1827
Elec_Util_Cap_Outlay          1815
Elec_Util_Inter_Exp           1812
LTD_Out_NG_Utility            1810
LTD_Ret_Utility               1788
LTD_Iss_Gen_Elem_Educ         1786
Water_Util_Cap_Outlay         1777
Total_LTD_Out_Utility         1774
Fed_IGR_Gen_Rev_Shar          1767
Water_Utility_Revenue         1766
LTD_Out_FFC_Elem_Educ         1760
LTD_Ret_FFC_Elem_Educ         1759
Electric_Utility_Rev          1738
Local_IGR_Transit_Sub         1730
Elec_Util_Current_Exp         1727
Elec_Util_Total_Exp           1720
Misc_Com_Activ_Cap_Out        1703
LTD_Iss_FFC_Other_Educ        1702
Elem_Educ_Construction        1691
Transit_Sub_Direct_Sub        1690
Chg_Sewerage                  1683
Transit_Utility_Rev           1681
Water_Trans_IG_Loc_Govts      1670
Special_Assessments           1664
Trans_Util_Construct          1645
Hosp_Other_Current_Exp        1644
Sewerage_Construction         1643
Hosp_Other_Direct_Exp         1633
LTD_Ret_Gen_Elem_Educ         1627
                              ...
Emp_Ret_Loc_Emp_Ctrib            7
Correct_Cap_Outlay               4
Sinking_Fd_Cash___Sec            3
Higher_Ed_Cap_Outlay             3
Welf_Categ_Total_Exp             3
Emp_Retire_Total_Sec             2
Emp_Ret_Int_Rev                  2
Fin_Admin_Cap_Outlay             2
Fed_IGR_Highways                 2
Parks___Rec_Cap_Outlay           2
General_NEC_Cap_Outlay           2
Emp_Retire_Sec_Tot_Nong          2
Unemp_Comp_Cash___Sec            2
Parks___Rec_Current_Exp          1
Emp_Sec_Adm_Current_Exp          1
Total_Emp_Ret_Rev                1
Emp_Ret_Total_Ctrib              1
Total_Hospital_Current_Exp       1
Fed_IGR_Other                    1
Emp_Retire_Cash___Sec            1
Emp_Sec_Adm_Direct_Exp           1
Emp_Ret_Total_Expend             1
Emp_Ret_Benefit_Paymts           1
Total_Educ_Construct             1
Welf_NEC_Current_Exp             1
Parks___Rec_Total_Exp            1
Alcoholic_Beverage_Tax           1
Parks___Rec_Direct_Exp           1
Total_Hospital_Dir_Exp           1
Total_Hospital_Total_Exp         1
Length: 310, dtype: int64

In [ ]:
key = 'Misc_Com_Activ_Constr'

pd.pivot_table(data[['State', 'Year'] + corr[corr[key].abs()>0.5].index.tolist()], )

In [ ]:
data

In [ ]:
non_missing_keys = missing[missing==missing.min()].keys().tolist()
non_missing_keys

In [ ]:
data[['Hosp_Other_Cap_Outlay'] + non_missing_keys]

In [ ]:
corr = data[missing[missing > 0].keys()].corr()
corr

In [ ]:
corr[corr>0.8]

In [ ]:
data[data.fillna(0)['Hosp_Other_Cap_Outlay'] != 0]

In [ ]:
x = data.fillna(0).astype(bool).sum()
list_zero_keys = x[x==0].sort_index().keys().tolist()
print(len(list_zero_keys))
list_zero_keys

In [ ]:
print(len(data.keys()))
data = data.drop(columns=list_zero_keys)
print(len(data.keys()))

### Remaining Columns

In [ ]:
def analyze(df, x):
    x_wise = pd.pivot_table(df, index=x, aggfunc=(np.sum))
    x_wise_zeros = (~x_wise.astype(bool)).sum()
    x_wise_zeros = x_wise_zeros.sort_values(ascending=False)
    return x_wise_zeros

In [ ]:
year_wise_zeros = analyze2(data, 'Year')
print('Number of years when the column had all zero values:')
print(year_wise_zeros[year_wise_zeros>0])

In [ ]:
print('Total number of Years:', data['Year'].drop_duplicates().count())

Lets drop those columns which have missing values (zeros) for more than 20 years out of 40 years

In [ ]:
print(len(data.keys()))
data = data.drop(columns=year_wise_zeros[year_wise_zeros > 20].keys().tolist())
print(len(data.keys()))

In [ ]:
state_wise_zeros = analyze2(data, 'State')

print('Number of states for which these columns had all zero values:')
state_wise_zeros[state_wise_zeros>0]

In [ ]:
len(data['State'].drop_duplicates())

Lets drop those columns which have missing values (zeros) for more than 40 out of 51 states

In [ ]:
print(len(data.keys()))
data = data.drop(columns=state_wise_zeros[state_wise_zeros > 40].keys().tolist())
print(len(data.keys()))