In [132]:
%run helper.ipynb

In [93]:
# fm = {}
# for k,v in missing_feature_map.items():
#     t = {}
#     t['op'] = v['op']
#     t['src_features'] = [f.lower() for f in v['src_features']]
#     fm[k.lower()] = t

In [133]:
state = DataAnalyzer('Original/state.csv')
county = DataAnalyzer('Original/county.csv')
city = DataAnalyzer('Original/city.csv')

In [134]:
def missing_attr_stats(da):
    l=[]
    for f in da.features_with_nan:
        if f in missing_feature_map.keys():
            count,percent = da.find_missing_count(f)
            print("{},  {} , {}  ".format(f,count,percent))
        else:
            l.append((f,da.find_missing_count(f)))
    return l

def features_with_all_missing(da):
    ignore_list = missing_attr_stats(da)
    to_drop = []
    for stat in ignore_list:
        attr, s = stat
        percent = s[1]
        if percent == 100.0:
            to_drop.append(attr)
    return to_drop

In [135]:
def fill_missing_attr(da):
    print("======================================")
    print("Before filling the values")
    print("======================================")
    missing_attr_stats(da)
    for f in da.features_with_nan:
        if f in missing_feature_map.keys():
            da.fill_missing(f)
    print("======================================")
    print("After filling the values")
    print("======================================")
    cant_fill = missing_attr_stats(da)
    print()
    print("======================================")
    print("Features which could not be filled")
    print("Feature Name    |  Missing value count   | Percentage   ")
    for stat in cant_fill:
        feature, s = stat
        print("{}\t\t{}\t\t{}".format(feature, s[0],s[1]))

In [136]:
fill_missing_attr(state)

======================================
Before filling the values
======================================
state_igr_gen_sup,  51 , 2.4309
chg_total_elem_education,  41 , 1.9542
chg_highways,  1 , 0.0477
prop_sale_total,  3 , 0.143
air_trans_current_exp,  8 , 0.3813
misc_com_activ_current_exp,  39 , 1.8589
elem_educ_current_exp,  29 , 1.3823
educ_nec_current_exp,  1 , 0.0477
emp_sec_adm_current_exp,  1 , 0.0477
fire_prot_current_exp,  50 , 2.3832
own_hospital_current_exp,  51 , 2.4309
hosp_other_current_exp,  51 , 2.4309
toll_hwy_current_exp,  22 , 1.0486
libraries_current_exp,  4 , 0.1907
welf_ins_current_exp,  7 , 0.3337
sewerage_current_exp,  28 , 1.3346
sw_mgmt_current_exp,  11 , 0.5243
water_trans_current_exp,  30 , 1.4299
liquor_stores_current_exp,  35 , 1.6683
total_util_current_exp,  5 , 0.2383
water_util_current_exp,  24 , 1.1439
elec_util_current_exp,  42 , 2.0019
gas_util_current_exp,  49 , 2.3356
trans_util_current_exp,  18 , 0.858
======================================
After filling the values
======================================
state_igr_gen_sup,  0 , 0.0
chg_total_elem_education,  0 , 0.0
chg_highways,  0 , 0.0
prop_sale_total,  0 , 0.0
air_trans_current_exp,  0 , 0.0
misc_com_activ_current_exp,  0 , 0.0
elem_educ_current_exp,  0 , 0.0
educ_nec_current_exp,  0 , 0.0
emp_sec_adm_current_exp,  0 , 0.0
fire_prot_current_exp,  0 , 0.0
own_hospital_current_exp,  0 , 0.0
hosp_other_current_exp,  0 , 0.0
toll_hwy_current_exp,  0 , 0.0
libraries_current_exp,  0 , 0.0
welf_ins_current_exp,  0 , 0.0
sewerage_current_exp,  0 , 0.0
sw_mgmt_current_exp,  0 , 0.0
water_trans_current_exp,  0 , 0.0
liquor_stores_current_exp,  0 , 0.0
total_util_current_exp,  0 , 0.0
water_util_current_exp,  0 , 0.0
elec_util_current_exp,  0 , 0.0
gas_util_current_exp,  0 , 0.0
trans_util_current_exp,  0 , 0.0

======================================
Features which could not be filled
Feature Name    |  Missing value count   | Percentage
yearofdata		829		39.5138
idchanged		510		24.3089
fips_county		250		11.9161
fips_place		2050		97.7121
fyenddate		251		11.9638
yearpop		18		0.858
schlevcode		2098		100.0
functioncode		2098		100.0
enrollment		2098		100.0
parking_current_exp		45		2.1449

In [137]:
fill_missing_attr(county)

======================================
Before filling the values
======================================
motor_vehicle_license_total,  1433 , 1.3759
state_igr_gen_sup,  317 , 0.3044
chg_total_elem_education,  1725 , 1.6562
chg_highways,  1374 , 1.3192
prop_sale_total,  939 , 0.9016
total_other_capital_outlays,  177 , 0.1699
general_capital_outlay_other,  177 , 0.1699
air_trans_current_exp,  1464 , 1.4057
misc_com_activ_current_exp,  1892 , 1.8166
correct_current_exp,  289 , 0.2775
total_educ_current_exp,  1497 , 1.4373
elem_educ_current_exp,  1526 , 1.4652
higher_ed_current_exp,  1873 , 1.7984
educ_nec_current_exp,  1989 , 1.9097
emp_sec_adm_current_exp,  1989 , 1.9097
fin_admin_current_exp,  102 , 0.0979
fire_prot_current_exp,  978 , 0.939
judicial_current_exp,  102 , 0.0979
cen_staff_current_exp,  60 , 0.0576
gen_pub_bldg_current_exp,  400 , 0.3841
health_current_exp,  205 , 0.1968
total_hospital_current_exp,  1652 , 1.5862
own_hospital_current_exp,  1989 , 1.9097
hosp_other_current_exp,  1989 , 1.9097
total_highways_current_exp,  236 , 0.2266
regular_hwy_current_exp,  243 , 0.2333
toll_hwy_current_exp,  1956 , 1.878
hous___com_current_exp,  1292 , 1.2405
libraries_current_exp,  1028 , 0.987
natural_res_current_exp,  523 , 0.5022
parks___rec_current_exp,  451 , 0.433
police_prot_current_exp,  53 , 0.0509
prot_insp_current_exp,  1307 , 1.2549
public_welf_current_exp,  475 , 0.4561
welf_ins_current_exp,  1763 , 1.6927
welf_nec_current_exp,  563 , 0.5406
sewerage_current_exp,  1487 , 1.4277
sw_mgmt_current_exp,  755 , 0.7249
water_trans_current_exp,  1956 , 1.878
general_nec_current_exp,  127 , 0.1219
liquor_stores_current_exp,  1955 , 1.8771
total_util_current_exp,  1372 , 1.3173
water_util_current_exp,  1556 , 1.494
elec_util_current_exp,  1959 , 1.8809
gas_util_current_exp,  1972 , 1.8934
trans_util_current_exp,  1688 , 1.6207
======================================
After filling the values
======================================
motor_vehicle_license_total,  0 , 0.0
state_igr_gen_sup,  0 , 0.0
chg_total_elem_education,  0 , 0.0
chg_highways,  0 , 0.0
prop_sale_total,  0 , 0.0
total_other_capital_outlays,  0 , 0.0
general_capital_outlay_other,  0 , 0.0
air_trans_current_exp,  0 , 0.0
misc_com_activ_current_exp,  0 , 0.0
correct_current_exp,  0 , 0.0
total_educ_current_exp,  0 , 0.0
elem_educ_current_exp,  0 , 0.0
higher_ed_current_exp,  0 , 0.0
educ_nec_current_exp,  0 , 0.0
emp_sec_adm_current_exp,  0 , 0.0
fin_admin_current_exp,  0 , 0.0
fire_prot_current_exp,  0 , 0.0
judicial_current_exp,  0 , 0.0
cen_staff_current_exp,  0 , 0.0
gen_pub_bldg_current_exp,  0 , 0.0
health_current_exp,  0 , 0.0
total_hospital_current_exp,  0 , 0.0
own_hospital_current_exp,  0 , 0.0
hosp_other_current_exp,  0 , 0.0
total_highways_current_exp,  0 , 0.0
regular_hwy_current_exp,  0 , 0.0
toll_hwy_current_exp,  0 , 0.0
hous___com_current_exp,  0 , 0.0
libraries_current_exp,  0 , 0.0
natural_res_current_exp,  0 , 0.0
parks___rec_current_exp,  0 , 0.0
police_prot_current_exp,  0 , 0.0
prot_insp_current_exp,  0 , 0.0
public_welf_current_exp,  0 , 0.0
welf_ins_current_exp,  0 , 0.0
welf_nec_current_exp,  0 , 0.0
sewerage_current_exp,  0 , 0.0
sw_mgmt_current_exp,  0 , 0.0
water_trans_current_exp,  0 , 0.0
general_nec_current_exp,  0 , 0.0
liquor_stores_current_exp,  0 , 0.0
total_util_current_exp,  0 , 0.0
water_util_current_exp,  0 , 0.0
elec_util_current_exp,  0 , 0.0
gas_util_current_exp,  0 , 0.0
trans_util_current_exp,  0 , 0.0

======================================
Features which could not be filled
Feature Name    |  Missing value count   | Percentage
yearofdata		61726		59.2659
idchanged		20910		20.0766
fips_county		20		0.0192
fips_place		83241		79.9234
fyenddate		1586		1.5228
yearpop		42776		41.0711
schlevcode		104151		100.0
functioncode		104151		100.0
enrollment		104151		100.0
parking_current_exp		1928		1.8512

In [138]:
fill_missing_attr(city)

======================================
Before filling the values
======================================
motor_vehicle_license_total,  3089 , 0.7823
state_igr_gen_sup,  617 , 0.1563
chg_total_elem_education,  3301 , 0.836
chg_highways,  2832 , 0.7172
prop_sale_total,  1902 , 0.4817
total_other_capital_outlays,  373 , 0.0945
general_capital_outlay_other,  402 , 0.1018
air_trans_current_exp,  2617 , 0.6628
misc_com_activ_current_exp,  2585 , 0.6547
correct_current_exp,  3180 , 0.8054
total_educ_current_exp,  3258 , 0.8251
elem_educ_current_exp,  3260 , 0.8256
higher_ed_current_exp,  3492 , 0.8844
educ_nec_current_exp,  3501 , 0.8867
emp_sec_adm_current_exp,  3500 , 0.8864
fin_admin_current_exp,  547 , 0.1385
fire_prot_current_exp,  591 , 0.1497
judicial_current_exp,  1094 , 0.2771
cen_staff_current_exp,  187 , 0.0474
gen_pub_bldg_current_exp,  1366 , 0.346
health_current_exp,  1836 , 0.465
total_hospital_current_exp,  3395 , 0.8598
own_hospital_current_exp,  3501 , 0.8867
hosp_other_current_exp,  3501 , 0.8867
total_highways_current_exp,  162 , 0.041
regular_hwy_current_exp,  178 , 0.0451
toll_hwy_current_exp,  3465 , 0.8776
hous___com_current_exp,  1857 , 0.4703
libraries_current_exp,  1814 , 0.4594
natural_res_current_exp,  2804 , 0.7102
parks___rec_current_exp,  307 , 0.0778
police_prot_current_exp,  227 , 0.0575
prot_insp_current_exp,  1747 , 0.4425
public_welf_current_exp,  2926 , 0.7411
welf_ins_current_exp,  3471 , 0.8791
welf_nec_current_exp,  2985 , 0.756
sewerage_current_exp,  471 , 0.1193
sw_mgmt_current_exp,  824 , 0.2087
water_trans_current_exp,  3408 , 0.8631
general_nec_current_exp,  488 , 0.1236
liquor_stores_current_exp,  3409 , 0.8634
total_util_current_exp,  499 , 0.1264
water_util_current_exp,  624 , 0.158
elec_util_current_exp,  2677 , 0.678
gas_util_current_exp,  3239 , 0.8203
trans_util_current_exp,  2865 , 0.7256
======================================
After filling the values
======================================
motor_vehicle_license_total,  0 , 0.0
state_igr_gen_sup,  0 , 0.0
chg_total_elem_education,  0 , 0.0
chg_highways,  0 , 0.0
prop_sale_total,  0 , 0.0
total_other_capital_outlays,  0 , 0.0
general_capital_outlay_other,  0 , 0.0
air_trans_current_exp,  0 , 0.0
misc_com_activ_current_exp,  0 , 0.0
correct_current_exp,  0 , 0.0
total_educ_current_exp,  0 , 0.0
elem_educ_current_exp,  0 , 0.0
higher_ed_current_exp,  0 , 0.0
educ_nec_current_exp,  0 , 0.0
emp_sec_adm_current_exp,  0 , 0.0
fin_admin_current_exp,  0 , 0.0
fire_prot_current_exp,  0 , 0.0
judicial_current_exp,  0 , 0.0
cen_staff_current_exp,  0 , 0.0
gen_pub_bldg_current_exp,  0 , 0.0
health_current_exp,  0 , 0.0
total_hospital_current_exp,  0 , 0.0
own_hospital_current_exp,  0 , 0.0
hosp_other_current_exp,  0 , 0.0
total_highways_current_exp,  0 , 0.0
regular_hwy_current_exp,  0 , 0.0
toll_hwy_current_exp,  0 , 0.0
hous___com_current_exp,  0 , 0.0
libraries_current_exp,  0 , 0.0
natural_res_current_exp,  0 , 0.0
parks___rec_current_exp,  0 , 0.0
police_prot_current_exp,  0 , 0.0
prot_insp_current_exp,  0 , 0.0
public_welf_current_exp,  0 , 0.0
welf_ins_current_exp,  0 , 0.0
welf_nec_current_exp,  0 , 0.0
sewerage_current_exp,  0 , 0.0
sw_mgmt_current_exp,  0 , 0.0
water_trans_current_exp,  0 , 0.0
general_nec_current_exp,  0 , 0.0
liquor_stores_current_exp,  0 , 0.0
total_util_current_exp,  0 , 0.0
water_util_current_exp,  0 , 0.0
elec_util_current_exp,  0 , 0.0
gas_util_current_exp,  0 , 0.0
trans_util_current_exp,  0 , 0.0

======================================
Features which could not be filled
Feature Name    |  Missing value count   | Percentage
yearofdata		217475		55.0787
idchanged		66550		16.8548
fips_county		2758		0.6985
fips_place		2775		0.7028
fyenddate		6923		1.7534
yearpop		186855		47.3238
schlevcode		394844		100.0
population		3		0.0008
functioncode		394844		100.0
enrollment		394844		100.0
parking_current_exp		2871		0.7271

## Save the new dataframe ##

In [139]:
state.df.to_csv('Filled_data/state.csv')

In [140]:
county.df.to_csv('Filled_data/county.csv')

In [141]:
city.df.to_csv('Filled_data/city.csv')

In [186]:
def formula(da):
    for f in da.features_with_nan:
        if f in missing_feature_map.keys():
            op=missing_feature_map[f]['op']
            if op =="ADD":
                op = "+"
            else:
                op ="-"
            for feature in missing_feature_map[f]['src_features']:
                print(feature,op,end=" ")
            print()

In [142]:
state.features_with_nan

['yearofdata',
 'idchanged',
 'fips_county',
 'fips_place',
 'fyenddate',
 'yearpop',
 'schlevcode',
 'functioncode',
 'enrollment',
 'state_igr_gen_sup',
 'chg_total_elem_education',
 'chg_highways',
 'prop_sale_total',
 'air_trans_current_exp',
 'misc_com_activ_current_exp',
 'elem_educ_current_exp',
 'educ_nec_current_exp',
 'emp_sec_adm_current_exp',
 'fire_prot_current_exp',
 'own_hospital_current_exp',
 'hosp_other_current_exp',
 'toll_hwy_current_exp',
 'libraries_current_exp',
 'parking_current_exp',
 'welf_ins_current_exp',
 'sewerage_current_exp',
 'sw_mgmt_current_exp',
 'water_trans_current_exp',
 'liquor_stores_current_exp',
 'total_util_current_exp',
 'water_util_current_exp',
 'elec_util_current_exp',
 'gas_util_current_exp',
 'trans_util_current_exp']

## Fill missing population for cities ##

In [279]:
df = cities.df

In [280]:
df.loc[df['population'] != df['population']]

Empty DataFrame
Columns: [year, id, name, population, enrollment, total_revenue, total_rev_own_sources, general_revenue, gen_rev_own_sources, total_taxes, property_tax, tot_sales___gr_rec_tax, total_gen_sales_tax, total_select_sales_tax, alcoholic_beverage_tax, amusement_tax, insurance_premium_tax, motor_fuels_tax, pari_mutuels_tax, public_utility_tax, tobacco_tax, other_select_sales_tax, total_license_taxes, alcoholic_beverage_lic, amusement_license, corporation_license, hunting___fishing_license, motor_vehicle_license, motor_veh_oper_license, public_utility_license, occup_and_bus_lic_nec, other_license_taxes, total_income_taxes, individual_income_tax, corp_net_income_tax, death_and_gift_tax, docum_and_stock_tr_tax, severance_tax, taxes_nec, total_ig_revenue, total_fed_ig_revenue, fed_igr_air_transport, fed_igr_education, fed_igr_emp_sec_adm, fed_igr_gen_rev_shar, fed_igr_gen_support, fed_igr_health___hos, fed_igr_highways, fed_igr_transit_sub, fed_igr_hous_com_dev, fed_igr_natural_res, fed_igr_public_welf, fed_igr_sewerage, fed_igr_other, total_state_ig_revenue, state_igr_education, state_igr_tax_relief, state_igr_oth_gen_sup, state_igr_health___hos, state_igr_highways, state_igr_transit_sub, state_igr_hous_com_dev, state_igr_public_welf, state_igr_sewerage, state_igr_other, tot_local_ig_rev, local_igr_interschool_aid, local_igr_other_education, local_igr_oth_gen_sup, local_igr_health___hos, local_igr_highways, local_igr_transit_sub, local_igr_hous_com_dev, local_igr_public_welf, local_igr_sewerage, local_igr_other, tot_chgs_and_misc_rev, total_general_charges, chg_air_transportation, chg_misc_com_activ, chg_total_education, chg_elem_ed_sch_lunch, chg_elem_ed_tuition, chg_elem_ed_nec, chg_total_high_ed, chg_hospitals, chg_regular_highways, chg_toll_highways, chg_housing___comm_dev, chg_total_nat_res, chg_parking, chg_parks___recreation, chg_sewerage, chg_solid_waste_mgmt, chg_water_transport, chg_all_other_nec, misc_general_revenue, special_assessments, prop_sale_hous_com_dev, prop_sale_other, ...]
Index: []

[0 rows x 581 columns]

In [281]:
df.loc[(df['id'] == 442093101) ]

,year,id,name,population,enrollment,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
31094,2012,442093101,BEDIAS CITY,455.0,NaN,4167,69,4167,69,69,...,0,0,0,0,0,0,0,0,0,0
46608,2008,442093101,BEDIAS CITY,435.0,NaN,71,71,71,71,71,...,0,0,0,0,0,0,0,0,0,0
64098,2007,442093101,BEDIAS CITY,435.0,NaN,60,60,60,60,58,...,0,0,0,6,0,0,0,0,0,0

In [276]:
# Fill population for year 2017 with the population in year 2008
df.loc[(df['id'] == 442093101)&(df['year'] == 2007), 'population'] = 435.0
df.loc[(df['id'] == 442093101)]

,year,id,name,population,enrollment,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
31094,2012,442093101,BEDIAS CITY,455.0,NaN,4167,69,4167,69,69,...,0,0,0,0,0,0,0,0,0,0
46608,2008,442093101,BEDIAS CITY,435.0,NaN,71,71,71,71,71,...,0,0,0,0,0,0,0,0,0,0
64098,2007,442093101,BEDIAS CITY,435.0,NaN,60,60,60,60,58,...,0,0,0,6,0,0,0,0,0,0

In [275]:
# Fill population for year 2017 with the population in year 2008
df.loc[(df['id'] == 442214101)&(df['year'] == 2007), 'population'] = 1304.0
df.loc[(df['id'] == 442214101)]

,year,id,name,population,enrollment,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
31646,2012,442214101,ESCOBARES CITY,2451.0,NaN,80,79,80,79,63,...,0,0,0,34,0,0,0,0,0,0
46647,2008,442214101,ESCOBARES CITY,1304.0,NaN,80,79,80,79,55,...,0,0,0,29,0,0,0,0,0,0
64648,2007,442214101,ESCOBARES CITY,1304.0,NaN,18,18,18,18,6,...,0,0,0,0,0,0,0,0,0,0

In [274]:
# Fill population for year 2017 with the population in year 2008
df.loc[(df['id'] == 452026101)&(df['year'] == 2007), 'population'] = 592.0
df.loc[(df['id'] == 452026101)]

,year,id,name,population,enrollment,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
32036,2012,452026101,DANIEL TOWN,1058.0,NaN,875,261,801,187,184,...,0,0,0,0,0,28,28,0,0,0
46729,2008,452026101,DANIEL TOWN,592.0,NaN,98,82,98,82,82,...,0,0,0,0,0,0,0,0,0,0
65036,2007,452026101,DANIEL TOWN,592.0,NaN,47,22,47,22,5,...,0,0,0,0,0,0,0,0,0,0

## Drop enrollment ##

In [289]:
state.df.drop(labels=['enrollment'],axis=1,inplace=True)

In [290]:
county.df.drop(labels=['enrollment'],axis=1,inplace=True)
cities.df.drop(labels=['enrollment'],axis=1,inplace=True)

## Save cleaned dfs to csv ##

In [322]:
state.df.to_csv(path + 'State.csv',index=False)

In [323]:
county.df.to_csv(path + 'County.csv',index=False)

In [324]:
cities.df.to_csv(path + 'Cities.csv',index=False)

## parking_current_exp ##

In [320]:
df=county.df

In [321]:
df.loc[df['parking_current_exp'] != df['parking_current_exp']]

,year,id,name,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
0,2016,11002002,BALDWIN COUNTY,203709,108855,90526,108855,90526,58300,31991,...,0,9954,0,5583,0,2708,0,0,0,2708
1,2016,11005005,BLOUNT COUNTY,57673,13019,8801,13019,8801,8589,6282,...,0,243,0,0,0,0,0,0,0,0
2,2016,11008008,CALHOUN COUNTY,115620,44992,29859,44992,29859,17424,10792,...,0,2543,0,0,0,0,0,0,0,0
3,2016,11010010,CHEROKEE COUNTY,25859,30577,24749,30577,24749,9248,3484,...,0,0,0,197,0,0,0,0,0,0
4,2016,11015015,CLEBURNE COUNTY,15018,7925,4507,7925,4507,2371,1252,...,0,162,0,862,0,0,0,0,0,0
5,2016,11017017,COLBERT COUNTY,54354,26336,16423,24242,14329,6332,5721,...,0,2115,0,0,0,1730,1730,0,0,0
6,2016,11018018,CONECUH COUNTY,12672,12845,4349,12845,4349,3219,2287,...,0,0,0,2379,0,0,0,0,0,0
7,2016,11022022,CULLMAN COUNTY,82005,59561,42290,50736,33465,19273,9212,...,0,4560,0,2004,0,6898,6898,0,0,0
8,2016,11023023,DALE COUNTY,49565,11103,8023,11103,8023,5843,4723,...,0,1072,0,482,0,0,0,0,0,0
9,2016,11024024,DALLAS COUNTY,41131,16157,10995,16157,10995,7579,4319,...,0,743,0,0,0,0,0,0,0,0
10,2016,11025025,DE KALB COUNTY,71130,24011,11014,24011,11014,8974,4090,...,0,0,0,2365,0,279,279,0,0,0
11,2016,11028028,ETOWAH COUNTY,103057,43040,31755,43040,31755,15580,10817,...,0,0,0,0,0,0,0,0,0,0
12,2016,11030030,FRANKLIN COUNTY,31696,14871,10323,14871,10323,4968,4855,...,0,2376,0,261,0,0,0,0,0,0
13,2016,11035035,HOUSTON COUNTY,104173,45982,33440,45180,32638,23228,16033,...,0,1985,0,4756,0,986,986,0,0,0
14,2016,11037037,JEFFERSON COUNTY,660367,616591,581212,606483,571104,320520,108641,...,52017,605,0,26691,0,0,0,0,0,0
15,2016,11039039,LAUDERDALE COUNTY,92596,43654,34752,43654,34752,27888,10408,...,0,3134,0,487,0,35,0,0,0,35
16,2016,11040040,LAWRENCE COUNTY,33115,7097,4929,7097,4929,2884,1820,...,0,1042,0,90,0,0,0,0,0,0
17,2016,11042042,LIMESTONE COUNTY,91663,29056,19009,29056,19009,14320,11254,...,0,192,0,0,0,0,0,0,0,0
18,2016,11045045,MADISON COUNTY,353089,121967,100053,111428,89514,59174,47134,...,0,8105,0,11333,0,8336,8336,0,0,0
19,2016,11049049,MOBILE COUNTY,415395,223178,190066,223178,190066,148236,80841,...,0,3103,0,0,0,0,0,0,0,0
20,2016,11050050,MONROE COUNTY,21673,11003,6955,11003,6955,5027,2898,...,0,1219,0,147,0,0,0,0,0,0
21,2016,11051051,MONTGOMERY COUNTY,226519,99562,81293,99562,81293,71259,22418,...,135,0,0,6711,0,0,0,0,0,0
22,2016,11052052,MORGAN COUNTY,119565,41646,30053,41646,30053,16398,15629,...,0,3645,0,0,0,0,0,0,0,0
23,2016,11053053,PERRY COUNTY,9652,4386,3762,4386,3762,2722,1392,...,0,31,0,0,0,0,0,0,0,0
24,2016,11054054,PICKENS COUNTY,20864,10174,4830,10174,4830,3140,2396,...,0,946,0,0,0,0,0,0,0,0
25,2016,11058058,ST CLAIR COUNTY,87074,30941,25679,30941,25679,18304,8977,...,0,0,0,16594,0,600,0,0,0,600
26,2016,11059059,SHELBY COUNTY,208713,94966,79475,85896,70405,48143,25779,...,0,3075,0,2093,0,6004,6004,0,0,0
27,2016,11061061,TALLADEGA COUNTY,80862,29926,23658,29039,22771,15040,10308,...,0,345,0,2077,0,838,838,0,0,0
28,2016,11062062,TALLAPOOSA COUNTY,40844,14220,11099,14220,11099,9320,6725,...,0,0,0,831,0,0,0,0,0,0
29,2016,11063063,TUSCALOOSA COUNTY,203976,84353,65449,84353,65449,54322,29139,...,0,478,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,2016,501065065,WALWORTH COUNTY,102804,118817,87553,118817,87553,71499,61715,...,0,228,0,4494,0,0,0,0,0,0
1960,2016,501066066,WASHBURN COUNTY,15552,26113,16812,26113,16812,11904,10452,...,0,254,0,1294,0,0,0,0,0,0
1961,2016,501067067,WASHINGTON COUNTY,133674,97208,67891,97208,67891,47210,35604,...,0,103,0,4010,0,3686,0,0,0,3686
1962,2016,501068068,WAUKESHA COUNTY,396488,212896,137051,212896,137051,106773,103396,...,0,5046,0,15770,0,877,0,0,0,877
1963,2016,501069069,WAUPACA COUNTY,51945,59529,40630,59529,40630,28076,24485,...,0,900,0,1476,0,0,0,0,0,0
1964,2016,501071071,WINNEBAGO COUNTY,169546,141434,95523,141434,95523,66213,65513,...,0,8930,0,4695,0,0,0,0,0,0
1965,2016,501072072,WOOD COUNTY,73435,76469,46436,76469,46436,28380,22230,...,0,0,0,1491,0,0,0,0,0,0
1966,2016,511001001,ALBANY COUNTY,37956,31501,20125,31501,20125,18183,6319,...,0,0,0,1365,0,0,0,0,0,0
1967,2016,511002002,BIG HORN COUNTY,12022,15611,7425,15611,7425,6693,5241,...,0,0,0,392,0,0,0,0,0,0
1968,2016,511003003,CAMPBELL COUNTY,49220,170667,147870,170667,147870,136435,106294,...,0,2720,0,2436,0,0,0,0,0,0
1969,2016,511004004,CARBON COUNTY,15559,57434,48055,57434,48055,23597,13888,...,0,0,0,5737,0,0,0,0,0,0
1970,2016,511005005,CONVERSE COUNTY,14236,109764,87016,109764,87016,41166,17248,...,0,0,0,792,0,0,0,0,0,0
1971,2016,511006006,CROOK COUNTY,7444,14795,5569,14795,5569,4788,3841,...,0,13,0,391,0,0,0,0,0,0
1972,2016,511007007,FREMONT COUNTY,40315,53722,38221,53722,38221,22576,12994,...,0,0,0,613,0,0,0,0,0,0
1973,2016,511008008,GOSHEN COUNTY,13383,13085,8515,13085,8515,4983,2868,...,0,0,0,1524,0,0,0,0,0,0
1974,2016,511009009,HOT SPRINGS COUNTY,4741,34642,20464,34642,20464,4019,3497,...,0,114,0,78,0,0,0,0,0,0
1975,2016,511010010,JOHNSON COUNTY,8585,28491,20498,28491,20498,18201,14564,...,0,0,0,264,0,0,0,0,0,0
1976,2016,511011011,LARAMIE COUNTY,97121,442350,416346,442350,416346,73091,26583,...,0,0,0,7996,0,0,0,0,0,0
1977,2016,511012012,LINCOLN COUNTY,18722,28476,19007,28476,19007,15421,12809,...,0,1588,0,578,0,0,0,0,0,0
1978,2016,511013013,NATRONA COUNTY,82178,76606,55980,76606,55980,42954,27452,...,0,0,0,405,0,0,0,0,0,0
1979,2016,511014014,NIOBRARA COUNTY,2542,4767,2593,4767,2593,2382,2011,...,0,0,0,347,0,0,0,0,0,0
1980,2016,511015015,PARK COUNTY,29228,35734,21343,35734,21343,17050,15535,...,0,2977,0,629,0,0,0,0,0,0
1981,2016,511016016,PLATTE COUNTY,8812,10344,5641,10344,5641,4496,1756,...,0,0,0,214,0,0,0,0,0,0
1982,2016,511017017,SHERIDAN COUNTY,30009,117764,108707,117764,108707,12582,7118,...,3,3,0,1231,0,0,0,0,0,0
1983,2016,511018018,SUBLETTE COUNTY,9899,57702,44064,57702,44064,40673,39383,...,0,947,0,1418,0,0,0,0,0,0
1984,2016,511019019,SWEETWATER COUNTY,44626,176373,161025,176373,161025,71678,53717,...,0,0,0,2455,0,0,0,0,0,0
1985,2016,511020020,TETON COUNTY,23125,85626,55387,85626,55387,38359,16299,...,0,4039,0,2958,0,0,0,0,0,0
1986,2016,511021021,UINTA COUNTY,20822,25305,16484,25305,16484,11220,9106,...,0,686,0,446,0,0,0,0,0,0
1987,2016,511022022,WASHAKIE COUNTY,8328,9521,4280,9521,4280,3905,2905,...,0,0,0,134,0,0,0,0,0,0
1988,2016,511023023,WESTON COUNTY,7234,12364,4257,12364,4257,3846,2872,...,0,63,0,293,0,0,0,0,0,0

In [318]:
current = [i for i in df.keys().to_list() if 'current_exp' in i]

In [310]:
df.loc[:,'parking_current_exp'].fillna(0,inplace=True)

In [315]:
current_rest = [ c for c in current if c != 'total_current_expend']

In [319]:
current

['total_current_expend',
 'general_current_expend',
 'correct_current_exp',
 'total_educ_current_exp',
 'higher_ed_current_exp',
 'fin_admin_current_exp',
 'judicial_current_exp',
 'cen_staff_current_exp',
 'gen_pub_bldg_current_exp',
 'health_current_exp',
 'total_hospital_current_exp',
 'total_highways_current_exp',
 'regular_hwy_current_exp',
 'hous___com_current_exp',
 'natural_res_current_exp',
 'parking_current_exp',
 'parks___rec_current_exp',
 'police_prot_current_exp',
 'prot_insp_current_exp',
 'public_welf_current_exp',
 'welf_nec_current_exp',
 'general_nec_current_exp',
 'air_trans_current_exp',
 'misc_com_activ_current_exp',
 'elem_educ_current_exp',
 'educ_nec_current_exp',
 'emp_sec_adm_current_exp',
 'fire_prot_current_exp',
 'own_hospital_current_exp',
 'hosp_other_current_exp',
 'toll_hwy_current_exp',
 'libraries_current_exp',
 'welf_ins_current_exp',
 'sewerage_current_exp',
 'sw_mgmt_current_exp',
 'water_trans_current_exp',
 'liquor_stores_current_exp',
 'total_util_current_exp',
 'water_util_current_exp',
 'elec_util_current_exp',
 'gas_util_current_exp',
 'trans_util_current_exp']