In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import requests
from sklearn.neighbors import NearestNeighbors
import os

In [2]:
def get_missing(df):
    missing = (~df.fillna(0).astype(bool)).sum()/df.shape[0]
    return missing

def get_keys(df, match):
    return [key for key in df.keys() if match.lower() in key.lower()]
  
def drop_keys(df, keys):
    return df.drop(columns=keys)

In [3]:
path_folder = '../../data/'
file_municipal = 'RECleaned_MunicipalData2.csv'
data_municipal = pd.read_csv(os.path.join(path_folder, file_municipal))
print(data_municipal.shape)
data_municipal.head()

(394844, 580)

,year,id,name,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
0,2016,12001003,PRATTVILLE CITY,35420.0,46957,45752,46957,45752,33081,2614,...,4773,2370,0,6087,0,0,0,0,0,0
1,2016,12002002,DAPHNE CITY,24896.0,32917,31652,32917,31652,28503,6104,...,70,1844,0,2321,0,0,0,0,0,0
2,2016,12002004,FAIRHOPE CITY,18730.0,67954,65193,35077,32316,16017,4543,...,2935,1598,0,93,0,24463,2501,17364,4598,0
3,2016,12002005,FOLEY CITY,17218.0,171445,166960,41693,37208,25458,1381,...,2364,2281,0,7029,0,101344,4256,91731,5357,0
4,2016,12002401,ORANGE BEACH CITY,5850.0,41415,40052,41415,40052,25241,3649,...,2137,2681,0,2285,0,0,0,0,0,0

In [7]:
missing = get_missing(data_municipal)
display(missing.describe())
missing[missing<0.5].count()

count    580.000000
mean       0.800900
std        0.289668
min        0.000000
25%        0.675462
50%        0.955496
75%        0.995312
max        1.000000
dtype: float64

103

In [8]:
mapping_id_name_municipal = data_municipal[['id', 'name']].drop_duplicates()
mapping_id_name_municipal.head()

         id               name
0  12001003    PRATTVILLE CITY
1  12002002        DAPHNE CITY
2  12002004      FAIRHOPE CITY
3  12002005         FOLEY CITY
4  12002401  ORANGE BEACH CITY

In [9]:
mapping_id_name_municipal.shape[0] == mapping_id_name_municipal['id'].drop_duplicates().shape[0]

False

In [10]:
temp = list(set(mapping_id_name_municipal.index) - set(mapping_id_name_municipal['id'].drop_duplicates().index))
duplicate_ids = mapping_id_name_municipal.loc[temp]['id'].drop_duplicates()
print(duplicate_ids)
duplicate_ids

81921     162055009
106497    372069201
81937     162057005
81944     162057012
81950     162058001
90151     372005002
65580     482034003
65587     482036002
81980     162062001
65603     482038008
90183     372008009
90206     372012002
82017     162065007
90209     372012201
90210     372013001
122999    412010302
106648    412010301
49330     102043701
82113     162077010
90306     372026007
82151     162080008
90344     372032301
90345     372032302
90346     372032303
360687    432094802
82160     162081007
114929    232011002
98555     242010008
90372     372036003
131339    172046013
            ...
360022    362067801
81504     162013004
89727     362049003
89749     362052001
89750     362052003
89767     362054005
89781     362055010
89794     362057001
89806     362057013
81618     162024007
81629     162025005
89822     362059006
81643     162027001
81644     162027002
89863     362064006
48909      62040001
89907     362069006
89925     362070501
89955     362075003
89965     362076004
57211     262107401
89997     362077401
81809     162044004
90007     362078005
81824     162046003
81825     162046004
81866     162050009
90079     362085009
57312     272022001
90095     362086300
Name: id, Length: 1779, dtype: int64

81921     162055009
106497    372069201
81937     162057005
81944     162057012
81950     162058001
90151     372005002
65580     482034003
65587     482036002
81980     162062001
65603     482038008
90183     372008009
90206     372012002
82017     162065007
90209     372012201
90210     372013001
122999    412010302
106648    412010301
49330     102043701
82113     162077010
90306     372026007
82151     162080008
90344     372032301
90345     372032302
90346     372032303
360687    432094802
82160     162081007
114929    232011002
98555     242010008
90372     372036003
131339    172046013
            ...
360022    362067801
81504     162013004
89727     362049003
89749     362052001
89750     362052003
89767     362054005
89781     362055010
89794     362057001
89806     362057013
81618     162024007
81629     162025005
89822     362059006
81643     162027001
81644     162027002
89863     362064006
48909      62040001
89907     362069006
89925     362070501
89955     362075003
89965     362076004
57211     262107401
89997     362077401
81809     162044004
90007     362078005
81824     162046003
81825     162046004
81866     162050009
90079     362085009
57312     272022001
90095     362086300
Name: id, Length: 1779, dtype: int64

In [11]:
locations = requests.get("http://54.153.74.217:8080/api/location/all")
locations = locations.json()['data']
locations = pd.DataFrame(locations)
locations.head()

,fips_code_state,fips_county,fips_place,fyenddate,id,latitude,longitude,name,parent_id,type_code
0,19,115.0,15420.0,1231.0,162058002,41.279996,-91.360819,COLUMBUS JUNCTION CITY,161058058,2
1,19,131.0,59745.0,1231.0,162066005,43.284081,-92.811162,OSAGE CITY,161066066,2
2,19,133.0,6940.0,1231.0,162067001,41.930266,-96.080848,BLENCOE CITY,161067067,2
3,19,141.0,76485.0,1069.0,162071009,42.974143,-95.497506,SUTHERLAND CITY,161071071,2
4,19,141.0,70410.0,1231.0,162071007,43.181642,-95.655567,SANBORN CITY,161071071,2

In [12]:
change_names = {}
invalid_ids = []
for id_ in duplicate_ids:
    if locations[locations['id']==id_].shape[0]==1:
        name = locations[locations['id']==id_]['name'].values[0]
        if id_ in change_names.keys():
            print('Duplicate ID', id_,  'inside \'duplicate_ids\'')
        change_names[id_] = name
    else:
        invalid_ids.append(id_)

In [13]:
invalid_ids

[]

In [14]:
change_names

{182059008: 'FT WRIGHT CITY',
 172032001: 'GOVE CITY',
 342016003: 'MOREHEAD CITY CITY',
 232050006: 'MT CLEMENS CITY',
 392065033: 'SOUTH WEST GREENSBURG BOROUGH',
 342024202: 'SANDYFIELD TOWN',
 362041010: 'MT PLEASANT VILLAGE',
 442175502: 'ELMHOUSE TOWN',
 142037008: 'COLONA VILLAGE',
 482017301: 'NEWCASTLE CITY',
 242034009: 'REGAL VILLAGE',
 252031001: 'BAY SPRINGS TOWN',
 232063005: 'CLARKSTON VILLAGE',
 192032801: 'KILLIAN VILLAGE',
 392020002: 'CAMBRIDGE SPRGS BOROUGH',
 242004003: 'FUNKLEY VILLAGE',
 242004004: 'KELLIHER VILLAGE',
 242004005: 'SOLWAY VILLAGE',
 242004006: 'TENSTRIKE VILLAGE',
 232063015: 'LATHRUP VILLAGE CITY',
 242004008: 'WILTON VILLAGE',
 362025002: 'CANAL WINCHESTER CITY',
 232063020: 'ORCHARD LAKE VILLAGE CITY',
 12025902: 'SHILO TOWN',
 362025009: 'GROVEPORT VILLAGE',
 412046003: 'FORT MILL TOWN',
 162046004: 'GILMORE CITY',
 102043701: 'OCEAN BREEZE PARK TOWN',
 342024201: 'BOARDMAN TOWN',
 362025016: 'NEW ALBANY CITY',
 332030012: 'FLORAL PK VILLAGE',
 262099005: 'QUEEN CITY',
 352043701: 'FT YATES CITY',
 102056001: 'FORT PIERCE CITY',
 382021701: 'LINCOLN CITY CITY',
 472092001: 'STONEY CREEK TOWN',
 242045001: 'ALVARADO VILLAGE',
 242045002: 'ARGYLE VILLAGE',
 242045003: 'GRYGLA VILLAGE',
 392061005: 'OIL CITY CITY',
 242045006: 'NEWFOLDEN VILLAGE',
 242045007: 'OSLO VILLAGE',
 242045009: 'STRANDQUIST VILLAGE',
 82002002: 'DELAWARE CITY CITY',
 42066003: 'FORT SMITH CITY',
 82002004: 'MIDDLETOWN TOWN',
 352039003: 'COLFAX VILLAGE',
 352039004: 'DWIGHT VILLAGE',
 172028001: 'GARDEN CITY CITY',
 312016013: 'WEST PATERSON BOROUGH',
 282022001: 'DAKOTA CITY',
 242086002: 'ANNANDALE VILLAGE',
 142045300: 'BIG ROCK CITY',
 192016501: 'KEATCHIE TOWN',
 242086006: 'DELANO CITY',
 242086008: 'HOWARD LAKE VILLAGE',
 232059001: 'CARSON CITY',
 242086010: 'MONTICELLO CITY',
 242086011: 'MONTROSE VILLAGE',
 262054012: 'WAVERLY TOWN',
 242086013: 'ST MICHAEL CITY',
 242086014: 'SOUTH HAVEN VILLAGE',
 242086015: 'WAVERLY VILLAGE',
 372048004: 'NEW WOODVILLE TOWN',
 52048005: 'SUISUN CITY',
 392016006: 'HAWTHORNE BOROUGH',
 42021001: 'ARKANSAS CITY',
 102031501: 'INDIAN RIVER SHORES TOWN',
 192056003: 'JUNCTION CITY',
 242047001: 'CEDAR MILLS VILLAGE',
 332026008: 'MT MORRIS VILLAGE',
 432079002: 'BARLETT CITY',
 152015003: 'GREENDALE CITY',
 262095004: 'BELLEFONTAINE NGHBRS CITY',
 262095005: 'BELLERIVE ACRES VILLAGE',
 352009012: 'HORACE CITY',
 262095011: 'BRECKENRIDGE HILLS VILLAGE',
 422052004: 'RAPID CITY CITY',
 262107301: 'KIRBYVILLE CITY',
 242041001: 'ARCO VILLAGE',
 242041002: 'HENDRICKS VILLAGE',
 242041003: 'IVANHOE VILLAGE',
 42062002: 'FORREST CITY CITY',
 262095027: 'EDMUNDSON VILLAGE',
 262095028: 'ELLISVILLE CITY',
 262015006: 'STOUTLAND TOWN',
 52003001: 'AMADOR CITY',
 352035004: 'WOLFORD VILLAGE',
 152056005: 'MT AYR TOWN',
 452002003: 'BRIGHAM CITY CITY',
 242004002: 'BLACKDUCK VILLAGE',
 262050001: 'CRYSTAL CITY',
 242082003: 'BIRCHWOOD VILLAGE',
 242082004: 'DELLWOOD VILLAGE',
 242075001: 'ALBERTA VILLAGE',
 242082008: 'LAKELAND VILLAGE',
 242082009: 'LAKELAND SHORES VILLAGE',
 242082012: 'MARINE ON ST CROIX VILLAGE',
 242082017: 'WILLERNIE VILLAGE',
 142049506: 'HAWTHORNE WOODS VILLAGE',
 262043003: 'PRESTON TOWN',
 152002201: 'ZANESVILLE TOWN',
 242075004: 'HANCOCK VILLAGE',
 262095082: 'UNIVERSITY CITY CITY',
 362017003: 'CRESTLINE VILLAGE',
 372056301: 'SCHULTER CITY',
 262095086: 'VELDA VILLAGE HILLS VILLAGE',
 422047101: 'SUMMERSET CITY',
 502006002: 'BUFFALO CITY',
 502006004: 'FOUNTAIN CITY',
 482038008: 'LA CROSSE TOWN',
 342041301: 'SUMMERFIELD',
 442016002: 'JOHNSON CITY',
 62064001: 'BROOMFIELD CITY AND COUNTY',
 242037001: 'BELLINGHAM VILLAGE',
 412021003: 'LAKE CITY CITY',
 242037004: 'LOUISBURG VILLAGE',
 262005005: 'SELIGMAN TOWN',
 242037006: 'MARIETTA VILLAGE',
 242037007: 'NASSAU VILLAGE',
 432094201: "THOMPSON'S STATION TOWN",
 382026005: 'WOOD VILLAGE',
 462007001: 'ALBURG VILLAGE',
 152037801: 'DEMOTTE TOWN',
 352031010: 'WHITE EARTH VILLAGE',
 442057001: 'ADDISON TOWN',
 142025002: 'BEECHER CITY',
 142041004: 'MT VERNON CITY',
 342016301: 'BOGUE',
 312009006: 'JERSEY CITY CITY',
 172065501: 'RICHFIELD VILLAGE',
 242078001: 'BROWNS VALLEY VILLAGE',
 242078002: 'DUMONT VILLAGE',
 242078003: 'TINTAH VILLAGE',
 242078004: 'WHEATON VILLAGE',
 52019509: 'ROLLING HILLS EST CITY',
 482013501: 'MATTAWA TOWN',
 102003006: 'PANAMA CITY',
 342069301: 'GRANTSBORO CITY',
 162034001: 'CHARLES CITY',
 262078802: 'BRAGG CITY',
 482034003: 'RAINIER TOWN',
 482034004: 'TENINO TOWN',
 42025301: 'CHEROKEE VILLAGE WEST',
 482034006: 'YELM TOWN',
 442225001: 'MT PLEASANT CITY',
 262001002: 'GIBBS TOWN',
 242033003: 'OGILVIE VILLAGE',
 242033004: 'QUAMBA VILLAGE',
 392049006: 'MT CARMEL BOROUGH',
 332042301: 'EAST NASSAU CITY',
 342086003: 'MT AIRY CITY',
 42054004: 'HELENA-WEST HELENA CITY',
 362054005: 'FT RECOVERY VILLAGE',
 382022006: 'MILL CITY',
 92001001: 'WASHINGTON DC CITY',
 352027004: 'WATFORD CITY CITY',
 182097301: 'BUCKHORN',
 502030401: 'PLEASANT PRAIRIE VILLAGE',
 312005005: 'OCEAN CITY CITY',
 242074001: 'BLOOMING PRARIE VILLAGE',
 242074002: 'ELLENDALE VILLAGE',
 52019603: 'WESTLAKE VILLAGE CITY',
 442079301: 'FAIRCHILDS CITY',
 372036003: 'KAW CITY',
 372036007: 'PONCA CITY CITY',
 442129602: 'GRAYS PRARIE VILLAGE',
 42009003: 'LAKE VILLAGE CITY',
 392004012: 'FRANKFORT SPRGS BOROUGH',
 362009006: 'MONROE CITY',
 12014001: 'ASHLAND CITY',
 152089011: 'MT AUBURN TOWN',
 392004023: 'PATTERSON HGTS BOROUGH',
 12022201: 'DODGE CITY TOWN',
 142063007: 'MASON CITY',
 12026301: 'DEATSVILLE',
 12026302: 'ELMORE CITY',
 262083009: 'PLATTE CITY',
 262013003: 'COWGILL TOWN',
 372077001: 'FT SUPPLY TOWN',
 242029002: 'LAPORTE VILLAGE',
 392045003: 'MT POCONO BOROUGH',
 412013005: 'MT CROGHAN TOWN',
 472141901: 'MANASSAS PARK CITY',
 262005201: 'ARROW POINT CITY',
 172098002: 'WA KEENEY CITY',
 142004302: 'TIMBERLANE',
 362050008: 'SEBRING CITY',
 342090201: 'MARVIN VILLAGE',
 342090202: 'LAKE PARK VILLAGE',
 352023007: 'MARION VILLAGE',
 172012001: 'BIRD CITY',
 12067301: 'NATURAL BRIDGE CITY',
 312001002: 'ATLANTIC CITY CITY',
 242045010: 'VIKING VILLAGE',
 102005501: 'MELBOURNE VILLAGE TOWN',
 262038002: 'DARLINGTON VILLAGE',
 362066003: 'WAVERLY CITY',
 242070004: 'NEW MARKET VILLAGE',
 442061301: 'CLARK',
 312001017: 'VENTNOR CITY CITY',
 482013702: 'ROYAL CITY',
 192021002: 'WINNSBORO TOWN',
 442188301: 'BISHOP HILLS',
 12005903: 'NECTAR TOWN',
 342045201: 'FLAT ROCK',
 42017301: 'CEDARVILLE',
 142058006: 'MT ZION VILLAGE',
 102013017: 'NORTH BAY VILLAGE CITY',
 262079001: 'ALTENBURG TOWN',
 102036001: 'FORT MYERS CITY',
 42033701: 'MT PLEASANT TOWN',
 242025001: 'BELLCHESTER VILLAGE',
 242025003: 'DENNISON VILLAGE',
 242025004: 'GOODHUE VILLAGE',
 362067801: 'NOT AVAILABLE',
 172094001: 'JOHNSON CITY',
 442170803: 'PATTON VILLAGE CITY',
 162062901: 'KEOMAH CITY',
 142056201: 'RINGWOOD VILLAGE',
 352019001: 'CARSON VILLAGE',
 352019003: 'LEITH VILLAGE',
 342090301: 'WESLEY CHAPEL CITY',
 342090302: 'MINERAL SPRINGS CITY',
 342090303: 'HEMBY BRIDGE CITY',
 342090304: 'UNIONVILLE CITY',
 442036801: 'BEACH CITY TOWN',
 442036802: 'MONT BELVIEU CITY',
 142056203: 'GREENWOOD VILLAGE',
 12063301: 'COKER CITY',
 12063302: 'LAKE VIEW CITY',
 12063303: 'COALING CITY',
 62062007: 'FT LUPTON CITY',
 462013004: 'WEST WESTMINISTER VILLAGE',
 102053006: 'FT MEADE CITY',
 112018003: 'JENKINSBURG TOWN',
 242066005: 'NERSTRAND VILLAGE',
 52015702: 'CALIFORNIA CITY',
 62055001: 'BONANZA CITY TOWN',
 252007006: 'SLATE SPRING TOWN',
 62003301: 'CENTENNIAL',
 152072801: 'AUSTIN TOWN',
 262092902: 'LAKE SAINT LOUIS CITY',
 112124001: 'HILLTONIA TOWN',
 192017002: 'BATON ROUGE-EAST BATON ROUGE CITY-PARISH',
 372040301: 'FORT COFFEE',
 242024501: 'TWIN LAKES VILLAGE',
 142054009: 'MT PULASKI CITY',
 102026002: 'LABELLE CITY',
 382034802: 'TIGARD CITY',
 452027010: 'TOQUERVILLE TOWN',
 442008201: 'INDUSTRY',
 242021002: 'BRANDON VILLAGE',
 242021003: 'CARLOS VILLAGE',
 242021005: 'FORADA VILLAGE',
 242021006: 'GARFIELD VILLAGE',
 242021007: 'KENSINGTON VILLAGE',
 242021008: 'MILLERVILLE VILLAGE',
 242021009: 'MILTONA VILLAGE',
 242021010: 'NELSON VILLAGE',
 242021011: 'OSAKIS VILLAGE',
 442020502: 'BROOKSIDE VILLAGE CITY',
 442155801: 'LORENA TOWN',
 352015001: 'BRADDOCK VILLAGE',
 352015002: 'HAGUE VILLAGE',
 432095901: 'MT JULIET CITY',
 442191301: 'PALISADES',
 372063003: 'MCLOUD TOWN',
 12059301: 'CHELSEA',
 172004007: 'SUN CITY',
 182056030: 'STRATHMOOR VILLAGE CITY',
 442249901: 'AURORA TOWN',
 442249902: 'FAIRVIEW CITY',
 432014001: 'CELINA TOWN',
 242062003: 'LAUDERDALE VILLAGE',
 242062005: 'NEW BRIGHTON CITY',
 242062006: 'NORTH OAKS VILLAGE',
 102011001: 'EVERGLADES CITY',
 352035001: 'BALTA VILLAGE',
 232035002: 'TAWAS CITY CITY',
 282022005: 'SOUTH SIOUX CITY CITY',
 442168001: 'COLORADO CITY',
 222008002: 'EASTHAMPTON TOWN CITY',
 242082501: 'LANDFALL VILLAGE',
 142092301: 'BISMARK CITY',
 262026701: 'WARDSVILLE TOWN',
 242066003: 'LONSDALE CITY',
 12036007: 'STEVENSON CITY',
 342041302: 'SEDALIA CITY',
 342041303: 'PLEASANT GARDEN',
 342041304: 'OAK RIDGE CITY',
 442254001: 'CRYSTAL CITY',
 372055503: 'THE VILLAGE CITY',
 262011002: 'DE KALB TOWN',
 272012001: 'ANACONDA-DEER LODGE COUNTY',
 232076002: 'BROWN CITY',
 472003301: 'CLIFTON FORGE CITY',
 242017001: 'BINGHAM LAKE VILLAGE',
 242017002: 'JEFFERS VILLAGE',
 442251001: 'DENVER CITY',
 242017004: 'STORDEN VILLAGE',
 242017005: 'WESTBROOK VILLAGE',
 452018301: 'TAYLORSVILLE CITY',
 342070001: 'ELIZABETH CITY CITY',
 212022002: 'CLEAR SPRING TOWN',
 42038003: 'COLLEGE CITY',
 212022006: 'KEEDYSVILLE TOWN',
 352009001: 'ALICE VILLAGE',
 12043001: 'FT DEPOSIT TOWN',
 352011004: 'LUDDEN VILLAGE',
 62018301: 'LONE TREE CITY',
 142005001: 'MT STERLING CITY',
 382034702: 'KING CITY',
 262105901: 'KEMBERLING CITY',
 352050007: 'FOREST RIVER VILLAGE',
 262026003: 'JEFFERSON CITY CITY',
 242058004: 'DENHAM VILLAGE',
 242058005: 'FINLAYSON VILLAGE',
 242058006: 'HENRIETTE VILLAGE',
 112023001: 'FT OGLETHORPE CITY',
 242058008: 'KERRICK VILLAGE',
 242058009: 'PINE CITY',
 242058010: 'RUTLEDGE VILLAGE',
 242058011: 'SANDSTONE VILLAGE',
 242058012: 'STURGEON LAKE VILLAGE',
 212016602: 'CHEVY CHASE SECTION 3 VILLAGE',
 442061602: 'LAKEWOOD VILLAGE TOWN',
 442061603: 'OAK POINT TOWN',
 262107201: 'BULL CREEK VILLAGE',
 342051301: "WILSON'S MILLS",
 372032301: 'ATWOOD',
 372032302: 'HORNTOWN',
 372032303: 'SPAULDING',
 512021301: 'BEAR RIVER TOWN',
 162057012: 'MT VERNON CITY',
 152026006: 'OAKLAND CITY',
 32008601: 'LAKE HAVASU CITY CITY',
 272008002: 'FT BENTON CITY',
 42021701: 'MITCHELVILLE CITY',
 242013001: 'CENTER CITY',
 242013002: 'CHISAGO CITY',
 102036301: 'FORT MYERS BEACH CITY',
 242013006: 'RUSH CITY',
 362021005: 'POWELL VILLAGE',
 242013008: 'STACY CITY',
 242013009: 'TAYLORS FALLS VILLAGE',
 382002002: 'MONROE TOWN',
 242028003: 'EITZEN VILLAGE',
 442020702: 'LIVERPOOL VILLAGE',
 162055009: 'SWEA CITY',
 142099300: 'HOMER GLEN CITY',
 12051301: 'PIKE ROAD CITY',
 442033001: 'GROOM CITY',
 392065902: 'MURRYSVILLE MUNICIPALITY',
 242054002: 'BORUP VILLAGE',
 242054003: 'GARY VILLAGE',
 242054004: 'HALSTAD CITY',
 442246005: 'HUTTO TOWN',
 262022006: 'SPARTA TOWN',
 242054008: 'TWIN VALLEY VILLAGE',
 362075003: 'FT LORAMIE VILLAGE',
 352048003: 'EGELAND VILLAGE',
 162096004: 'FT ATKINSON CITY',
 442061701: 'HIGHLAND VILLAGE CITY',
 352048007: 'ROCK LAKE CITY',
 192005001: 'BUNKIE TOWN',
 192005006: 'MARKSVILLE TOWN',
 22021007: 'MOUNTAIN VILLAGE CITY',
 22021011: 'SCAMMON BAY CITY',
 22021012: 'SHELDON POINT CITY',
 102064201: 'DE BARY CITY',
 442074008: 'SAVOY TOWN',
 262063002: 'VIENNA TOWN',
 102020003: 'GRETNA TOWN',
 262024006: 'HOLT TOWN',
 242009001: 'BARNUM VILLAGE',
 412010201: 'AWENDAW TOWN',
 152026001: 'FT BRANCH TOWN',
 242009004: 'CROMWELL VILLAGE',
 42006002: 'HERMITAGE TOWN',
 242009006: 'MOOSE LAKE CITY',
 242009008: 'THOMSON VILLAGE',
 242009010: 'WRIGHT VILLAGE',
 392025011: 'MILL VILLAGE BOROUGH',
 102064202: 'DELTONA',
 12035001: 'ASHFORD CITY',
 142083003: 'GALATIA TOWN',
 182019007: 'FORT THOMAS CITY',
 12043201: 'GORDONVILLE TOWN',
 262104002: 'BELL CITY',
 152024004: 'MT CARMEL TOWN',
 102067702: 'WASAU TOWN',
 262104006: 'DUDLEY TOWN',
 292013001: 'CARSON CITY CITY',
 262036301: 'MIRAMIGUOA PARK',
 262018003: 'VAN BUREN TOWN',
 242050004: 'DEXTER VILLAGE',
 242050005: 'ELKTON VILLAGE',
 42066902: 'CENTRAL CITY',
 242050007: 'LE ROY VILLAGE',
 242050008: 'LYLE VILLAGE',
 242084004: 'FOXHOME VILLAGE',
 242050010: 'ROSE CREEK VILLAGE',
 242050011: 'SARGEANT VILLAGE',
 242050012: 'TAOPI VILLAGE',
 242050013: 'WALTHAM VILLAGE',
 372012002: 'FT TOWSON TOWN',
 372069201: 'CENTRAL HIGH',
 112107004: 'OXFORD TOWN',
 172033002: 'HILL CITY CITY',
 152065003: 'MOUNT VERNON CITY',
 352050002: 'ARDOCH VILLAGE',
 262092601: 'FLINT HILL VILLAGE',
 262050801: 'OLYMPIAN VILLAGE CITY',
 482006003: 'LA CENTER TOWN',
 442181801: 'BRIDGE CITY',
 452011001: 'CEDAR CITY CITY',
 52040701: 'MORRO BAY CITY',
 352050005: 'FAIRDALE VILLAGE',
 262067201: 'PINHOOK VILLAGE',
 432064001: 'METRO GOVT LYNCHBURG-MOORE CO',
 182101001: 'MT OLIVET CITY',
 242005003: 'RONNEBY VILLAGE',
 392021005: 'MT HOLLY SPRINGS BOROUGH',
 102032401: 'JACOB CITY',
 142049515: 'PARK CITY',
 442020902: 'OYSTER CREEK VILLAGE',
 262005801: 'WASHBURN TOWN',
 142059015: 'MT OLIVE CITY',
 352050013: 'PISEK VILLAGE',
 242046001: 'CEYLON VILLAGE',
 242046002: 'DUNNELL VILLAGE',
 242003002: 'CALLAWAY VILLAGE',
 242046004: 'GRANADA VILLAGE',
 242046006: 'NORTHROP VILLAGE',
 242046007: 'SHERBURN VILLAGE',
 232019001: 'DE WITT CITY',
 242046010: 'WELCOME VILLAGE',
 62035003: 'FORT COLLINS CITY',
 412042301: 'REIDVILLE CITY',
 232019006: 'OVID VILLAGE',
 102052021: 'ST PETERSBURG BEACH CITY',
 82003009: 'GEORGETOWN TOWN',
 352040002: 'MYLO VILLAGE',
 502056003: 'GLENWOOD CITY',
 162088007: 'SHANNON CITY',
 372008009: 'FT COBB TOWN',
 172029002: 'DODGE CITY CITY',
 182056014: 'LOUISVILLE-JEFFERSON COUNTY METRO GOVERNMENT',
 182015501: 'MOUNT WASHINGTON CITY',
 142034003: 'BENTLEY VILLAGE',
 182056020: 'PARKWAY VILLAGE CITY',
 142034006: 'DALLAS CITY',
 312018007: 'PEAPACK GLADSTONE BOROUGH',
 262108004: 'RAYMONDVILLE CITY',
 242087003: 'ECHO VILLAGE',
 262055005: 'MT VERNON CITY',
 262055006: 'PIERCE CITY',
 262055007: 'STOTTS CITY',
 262055008: 'VERONA TOWN',
 242087009: 'WOOD LAKE VILLAGE',
 102012002: 'LAKE CITY',
 372040803: 'POLOLA CITY',
 342041701: 'NOT AVAILABLE',
 242001001: 'AITKIN VILLAGE',
 242001002: 'HILL CITY',
 242001003: 'MCGRATH VILLAGE',
 242001005: 'PALISADE VILLAGE',
 242001006: 'TAMARACK VILLAGE',
 362076004: 'CANAL FULTON VILLAGE',
 182011002: 'JUNCTION CITY',
 442107003: 'EUSTACE TOWNSHIP',
 332027004: 'DERUYER VILLAGE',
 412010005: 'MOUNT PLEASANT TOWN',
 112028004: 'WALESKA CITY',
 132006002: 'ATOMIC CITY',
 42050702: 'BLUFF CITY',
 142056301: 'TROUT VALLEY',
 242042001: 'BALATON VILLAGE',
 102053010: 'HILCREST HEIGHTS TOWN',
 242042003: 'FLORENCE VILLAGE',
 242042005: 'GHENT VILLAGE',
 262010006: 'ROCHEPORT TOWN',
 262010007: 'STURGEON TOWN',
 232015001: 'BOYNE CITY',
 242042010: 'TAUNTON VILLAGE',
 382031004: 'ISLAND CITY',
 442246302: 'JARRELL',
 352036002: 'BROCKET VILLAGE',
 352036003: 'CHURCHS FERRY VILLAGE',
 352016002: 'GLENFIELD VILLAGE',
 242062502: 'MOUNDS VIEW CITY',
 242062503: 'SHOREVIEW CITY',
 242062504: 'VADNAIS HEIGHTS CITY',
 372012201: 'SAWYER',
 112121002: 'BLYTHE TOWN',
 162084011: 'ORANGE CITY CITY',
 362083501: 'CARLISLE VILLAGE',
 102006301: 'WESTON CITY',
 492025009: 'PLEASANT VALLEY CITY',
 282061001: 'CENTRAL CITY CITY',
 262051001: 'CENTERVIEW TOWN',
 242083002: 'DARFUR VILLAGE',
 242083003: 'LA SALLE VILLAGE',
 242083004: 'LEWISVILLE VILLAGE',
 242083005: 'MADELIA CITY',
 312014014: 'MT ARLINGTON BOROUGH',
 242054006: 'PERLEY VILLAGE',
 12002502: 'LOXELY TOWN',
 62018101: 'CASTLE PINES NORTH CITY',
 362018001: 'BAY VILLAGE CITY',
 42030301: 'MAGNET COVE',
 142071006: 'MT MORRIS VILLAGE',
 242046501: 'TRIMONT VILLAGE',
 392037601: 'S N P J BOROUGH',
 262092002: "O'FALLON CITY",
 12035301: 'REHOBETH',
 242038001: 'BEAVER BAY VILLAGE',
 262006002: 'GOLDEN CITY',
 442230003: 'ORE CITY',
 342036009: 'MT HOLLY CITY',
 262050004: 'HILLSBORO TOWN',
 232011002: 'BENTON HARBOR CITY',
 42059003: 'FREDONIA CITY',
 362059006: 'MT GILEAD VILLAGE',
 362049003: 'MT STERLING VILLAGE',
 392054016: 'MT CARBON BOROUGH',
 392054017: 'NEW PHILA BOROUGH',
 282089003: 'FT CALHOUN CITY',
 352032004: 'MICHIGAN CITY CITY',
 162080008: 'MT AYR CITY',
 442152201: 'BUFFALO SPRINGS VILLAGE',
 262083001: 'CAMDEN POINT TOWN',
 342099501: 'NOT AVAILABLE',
 352016601: 'GRACE CITY',
 242079001: 'ELGIN VILLAGE',
 242079002: 'HAMMOND VILLAGE',
 112031003: 'LAKE CITY',
 242079004: 'LAKE CITY CITY',
 262007002: 'AMORET TOWN',
 242079006: 'MILLVILLE VILLAGE',
 242079007: 'MINNEISKA VILLAGE',
 242079010: 'ZUMBRO FALLS VILLAGE',
 262051004: 'KINGSVILLE TOWN',
 242058801: 'ROCK CREEK VILLAGE',
 362032007: 'MT BLANCHARD VILLAGE',
 52041005: 'DALY CITY CITY',
 262067502: 'BERTRAND TOWN',
 52049201: 'WINDSOR TOWN',
 172062002: 'CAWKER CITY CITY',
 392009012: 'NEWTON BOROUGH',
 12019001: 'GOODWATER CITY',
 42026301: 'FOUNTAIN LAKE CITY',
 262083902: 'RIDGELEY TOWN',
 262045003: 'FRANKLIN TOWN',
 262088003: 'CLIFTON HILL TOWN',
 252061003: 'FLORENCE TOWN',
 32007502: 'SURPRISE CITY',
 242034001: 'ATWATER VILLAGE',
 242034002: 'BLOMKEST VILLAGE',
 242034004: 'LAKE LILLIAN VILLAGE',
 242034005: 'NEW LONDON VILLAGE',
 262002006: 'REA VILLAGE',
 242034007: 'PRINSBURG VILLAGE',
 242034008: 'RAYMOND VILLAGE',
 262010201: 'MCBAINE VILLAGE',
 242034010: 'SPICER VILLAGE',
 242034011: 'SUNBURG VILLAGE',
 352028001: 'BENEDICT VILLAGE',
 362055010: 'TIPP CITY CITY',
 242067003: 'HILLS VILLAGE',
 262106001: 'GREEN CASTLE CITY',
 352028008: 'RUSO VILLAGE',
 182056508: 'PLYMOUTH VILLAGE CITY',
 342001002: 'ELON COLLEGE TOWN',
 332060012: 'MT KISCO VILLAGE',
 332060013: 'MOUNT VERNON CITY',
 142016061: 'MOUNT PROSPECT VILLAGE',
 352005011: 'OVERLY VILLAGE',
 342013301: 'MIDLAND CITY',
 112010004: 'RAY CITY',
 312013033: 'SOUTH BELMAR BOROUGH',
 262043001: 'CROSS TIMBERS TOWN',
 242075002: 'CHOKIO VILLAGE',
 242067007: 'STEEN VILLAGE',
 262043004: 'WEAUBLEAU TOWN',
 432027006: 'MEDINA TOWN',
 442070401: 'OAK LEAF TOWN',
 252016002: 'MT OLIVE TOWN',
 312013035: 'SPRING LAKE HTS BOROUGH',
 132007301: 'CAREY',
 352005015: 'WILLOW CITY',
 262095085: 'VELDA VILLAGE',
 52037008: 'NATIONAL CITY',
 262071701: 'LAURIE VILLAGE',
 102035012: 'MT DORA CITY',
 442184602: 'HUDSON OAKS TOWN',
 482031007: 'GRANITE FALLS TOWN',
 352002701: 'SIBLEY VILLAGE',
 262084005: 'MORRISVILLE TOWN',
 112068006: 'MT AIRY TOWN',
 482031015: 'SULTAN TOWN',
 242030001: 'BRAHAM VILLAGE',
 312014012: 'MORRISTOWN TOWN',
 12043701: 'BENTON TOWN',
 232003002: 'DOUGLAS VILLAGE',
 142100501: 'STONEFORT VILLAGE',
 242062505: 'GEM LAKE VILLAGE',
 242050501: 'RACINE VILLAGE',
 492013003: 'FALLING SPRINGS TOWN',
 502052301: 'MOUNT PLEASANT VILLAGE',
 42044701: 'NOT AVAILABLE',
 492025301: 'WHITE HALL',
 262039801: 'BATTLEFIELD VILLAGE',
 242071001: 'BECKER VILLAGE',
 242071002: 'BIG LAKE VILLAGE',
 242071003: 'CLEAR LAKE VILLAGE',
 242071004: 'ELK RIVER CITY',
 362002501: 'FT SHAWNEE VILLAGE',
 512005601: 'ROLLING HILL TOWN',
 312002019: 'FORT LEE BOROUGH',
 232044005: 'IMLAY CITY',
 492050002: 'FT GAY TOWN',
 152086001: 'PINE VILLAGE TOWN',
 472086002: 'MT JACKSON TOWN',
 172054003: 'MOUND CITY',
 162027001: 'DAVIS CITY',
 12011002: 'JEMISON CITY',
 442091004: 'GUNTER TOWN',
 242005501: 'GILMAN VILLAGE',
 262080001: 'GREEN RIDGE CITY',
 442031301: 'LOS INDOS',
 142059014: 'MT CLARE VILLAGE',
 312002055: 'TETEBORD BOROUGH',
 442005001: 'ARCHER CITY',
 262092301: 'WEST ALTON',
 52034301: 'CITRUS HEIGHTS',
 242026001: 'ASHBY VILLAGE',
 242026005: 'HOFFMAN VILLAGE',
 242026006: 'NORCROSS VILLAGE',
 242026007: 'WENDELL VILLAGE',
 442123801: 'BEVIL OAKS TOWN',
 182036004: 'PRESTONBURG CITY',
 262014501: 'NEW BLOOMFIELD TOWN',
 112103004: 'MT VERNON CITY',
 142100011: 'JOHNSTON CITY',
 172009005: 'STRONG CITY',

In [15]:
invalid_ids = []
for id_ in data_municipal['id'].drop_duplicates():
    temp = data_municipal[data_municipal['id']==id_]['year']
    if temp.shape[0] != temp.drop_duplicates().shape[0]:
        l.append(id_)
invalid_ids

[]

In [16]:
for id_ in duplicate_ids:
    data_municipal.loc[data_municipal['id']==id_, 'name'] = change_names[id_]

In [17]:
mapping_id_name_municipal = data_municipal[['id', 'name']].drop_duplicates()
print(mapping_id_name_municipal.shape[0] == mapping_id_name_municipal['id'].drop_duplicates().shape[0])
mapping_id_name_municipal

True

               id                     name
0        12001003          PRATTVILLE CITY
1        12002002              DAPHNE CITY
2        12002004            FAIRHOPE CITY
3        12002005               FOLEY CITY
4        12002401        ORANGE BEACH CITY
5        12003004             EUFAULA CITY
6        12008001            ANNISTON CITY
7        12008004        JACKSONVILLE CITY
8        12008006              OXFORD CITY
9        12009101             CUSSETA TOWN
10       12011001             CLANTON CITY
11       12011002             JEMISON CITY
12       12015003              HEFLIN CITY
13       12016002          ENTERPRISE CITY
14       12017004       MUSCLE SHOALS CITY
15       12017005           SHEFFIELD CITY
16       12020001           ANDALUSIA CITY
17       12020005                 OPP CITY
18       12022001             CULLMAN CITY
19       12023004               OZARK CITY
20       12024002               SELMA CITY
21       12026002           TALLASSEE CITY
22       12028002             ATTALLA CITY
23       12028003             GADSDEN CITY
24       12030004        RUSSELLVILLE CITY
25       12031003              GENEVA CITY
26       12035004              DOTHAN CITY
27       12036005          SCOTTSBORO CITY
28       12037002            BESSEMER CITY
29       12037003          BIRMINGHAM CITY
...           ...                      ...
377110  352031006              SANISH CITY
377559  362025801              RUSSIA CITY
378380  372028001            BRINKMAN CITY
378434  372036801               UNCAS CITY
378576  372055502     SPRINGLAKE PARK CITY
378876  382023001             JUNTURA CITY
379571  392036020  WASHINGTON BOROUGH CITY
380025  412004801            NOT AVAILABLE
380056  412010801            NOT AVAILABLE
380222  412040505         FOREST LAKE CITY
380236  412042501        PACOLET PARK CITY
380431  422039006              ESMOND CITY
380678  432030801            RHEATOWN CITY
380903  442007001         CAMPBELLTON CITY
380976  442020505        LAKE BARBARA CITY
381020  442031802        ADAMS GARDEN CITY
381132  442057028      WOODLAND HILLS CITY
381550  442159701            NOT AVAILABLE
381635  442184801            NOT AVAILABLE
381905  452004001         CASTLE GATE CITY
382086  462003001              GROTON CITY
382096  462005001             CONCORD CITY
382115  462010005              GLOVER CITY
382119  462010009         WEST GLOVER CITY
382135  462013006           TOWNSHEND CITY
382245  472062001             HOLLAND TOWN
382246  472062002         WHALEYVILLE TOWN
382429  482013502            WESTLAKE CITY
382822  492042801            NOT AVAILABLE
394581  472081001               SALEM CITY

[20050 rows x 2 columns]

In [18]:
data_municipal = data_municipal.drop(columns=['name'])
data_municipal.head()

,year,id,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,tot_sales___gr_rec_tax,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
0,2016,12001003,35420.0,46957,45752,46957,45752,33081,2614,25755,...,4773,2370,0,6087,0,0,0,0,0,0
1,2016,12002002,24896.0,32917,31652,32917,31652,28503,6104,17245,...,70,1844,0,2321,0,0,0,0,0,0
2,2016,12002004,18730.0,67954,65193,35077,32316,16017,4543,8167,...,2935,1598,0,93,0,24463,2501,17364,4598,0
3,2016,12002005,17218.0,171445,166960,41693,37208,25458,1381,21622,...,2364,2281,0,7029,0,101344,4256,91731,5357,0
4,2016,12002401,5850.0,41415,40052,41415,40052,25241,3649,14548,...,2137,2681,0,2285,0,0,0,0,0,0

In [19]:
missing = get_missing(data_municipal)
display(missing.describe())
missing[missing<0.5].count()

count    579.000000
mean       0.802283
std        0.287995
min        0.000000
25%        0.676744
50%        0.955570
75%        0.995317
max        1.000000
dtype: float64

In [20]:
data_municipal.shape

(394844, 579)

In [21]:
bad_rows = ((~data_municipal.astype(bool)).sum(axis=1))/data_municipal.shape[1]
bad_rows = bad_rows[bad_rows>0.9]
bad_rows = bad_rows.index
bad_rows

Int64Index([    62,     70,     86,     97,    172,    281,    308,    322,
               323,    327,
            ...
            394707, 394712, 394738, 394749, 394792, 394796, 394810, 394813,
            394827, 394837],
           dtype='int64', length=49744)

In [22]:
data_municipal = data_municipal.drop(index=bad_rows)
print(data_municipal.shape)
data_municipal.head()

(345100, 579)

,year,id,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,tot_sales___gr_rec_tax,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
0,2016,12001003,35420.0,46957,45752,46957,45752,33081,2614,25755,...,4773,2370,0,6087,0,0,0,0,0,0
1,2016,12002002,24896.0,32917,31652,32917,31652,28503,6104,17245,...,70,1844,0,2321,0,0,0,0,0,0
2,2016,12002004,18730.0,67954,65193,35077,32316,16017,4543,8167,...,2935,1598,0,93,0,24463,2501,17364,4598,0
3,2016,12002005,17218.0,171445,166960,41693,37208,25458,1381,21622,...,2364,2281,0,7029,0,101344,4256,91731,5357,0
4,2016,12002401,5850.0,41415,40052,41415,40052,25241,3649,14548,...,2137,2681,0,2285,0,0,0,0,0,0

In [23]:
missing = get_missing(data_municipal)
display(missing.describe())
missing[missing<0.5].count()

count    579.000000
mean       0.784004
std        0.307395
min        0.000000
25%        0.630988
50%        0.949273
75%        0.994646
max        1.000000
dtype: float64

In [24]:
good_attributes = missing[missing<0.5].index
good_attributes

Index(['year', 'id', 'population', 'total_revenue', 'total_rev_own_sources',
       'general_revenue', 'gen_rev_own_sources', 'total_taxes', 'property_tax',
       'tot_sales___gr_rec_tax',
       ...
       'cen_staff_current_exp', 'total_highways_current_exp',
       'regular_hwy_current_exp', 'parks___rec_current_exp',
       'police_prot_current_exp', 'sewerage_current_exp',
       'sw_mgmt_current_exp', 'general_nec_current_exp',
       'total_util_current_exp', 'water_util_current_exp'],
      dtype='object', length=107)

In [25]:
data_municipal = data_municipal[good_attributes]
print(data_municipal.shape)
data_municipal.head()

(345100, 107)

,year,id,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,tot_sales___gr_rec_tax,...,cen_staff_current_exp,total_highways_current_exp,regular_hwy_current_exp,parks___rec_current_exp,police_prot_current_exp,sewerage_current_exp,sw_mgmt_current_exp,general_nec_current_exp,total_util_current_exp,water_util_current_exp
0,2016,12001003,35420.0,46957,45752,46957,45752,33081,2614,25755,...,1518,0,0,1358,6145,4773,2370,6087,0,0
1,2016,12002002,24896.0,32917,31652,32917,31652,28503,6104,17245,...,1196,3349,3349,2127,4645,70,1844,2321,0,0
2,2016,12002004,18730.0,67954,65193,35077,32316,16017,4543,8167,...,746,2382,2382,2665,3814,2935,1598,93,24463,2501
3,2016,12002005,17218.0,171445,166960,41693,37208,25458,1381,21622,...,1017,2243,2243,3834,7461,2364,2281,7029,101344,4256
4,2016,12002401,5850.0,41415,40052,41415,40052,25241,3649,14548,...,1770,1943,1943,2390,3320,2137,2681,2285,0,0

In [26]:
missing = get_missing(data_municipal)
display(missing.describe())
missing[missing<0.5].count()

count    107.000000
mean       0.198329
std        0.148343
min        0.000000
25%        0.037725
50%        0.191203
75%        0.329726
max        0.472223
dtype: float64

107

In [27]:
data_municipal.to_csv(os.path.join(path_folder, 'RECleaned_MunicipalData3.csv'))

In [42]:
def convert_to_pivot(data):
    pivoted = pd.pivot_table(data,
                             index='id', 
                             columns='year', 
                             values=list(set(data.keys())-set(['year', 'id'])))

    keys = list(set([key[0] for key in pivoted.keys()]))
    for i, key in enumerate(keys, 1):
        pivoted[key].iloc[:, 0] = pivoted[key].iloc[:, 0].fillna(0)
        pivoted[key].iloc[:, -1] = pivoted[key].iloc[:, -1].fillna(0)
        pivoted[key] = pivoted[key].interpolate(axis=1)
        print(np.round(i/len(keys)*100), '%', end='\r')

    return pivoted

def convert_to_pivot2(data):
    pivoted = pd.pivot_table(data,
                             index='id', 
                             columns='year', 
                             values=list(set(data.keys())-set(['year', 'id'])))

    keys = list(set([key[0] for key in pivoted.keys()]))
    for i, key in enumerate(keys, 1):
        pivoted[key].iloc[:, 0] = pivoted[key].iloc[:, 0].fillna(0)
        pivoted[key].iloc[:, -1] = pivoted[key].iloc[:, -1].fillna(0)
        print(np.round(i/len(keys)*100), '%', end='\r')
    
    pivoted = pivoted.interpolate(axis=1)
    return pivoted

In [43]:
%%time
pivoted_municipal2 = convert_to_pivot2(data_municipal)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

Wall time: 1min 9s

In [45]:
%%time
pivoted_municipal = convert_to_pivot(data_municipal)

In [ ]:
(temp1 != temp2).sum().sum()

In [46]:
mapping_id_name_municipal.to_csv('mapping_id_name_municipal.csv')